[2016-02-22 10:58] bajiat opened #1 "Move repository and set up Waffle"
_From @bajiat on February 22, 2016 8:49_

Move the contents of this repository to Digipalvelutehdas. Invite all team members. Set up Dipor team in Digipalvelutehdas organization. Set up a Waffle board.

_Copied from original issue: Dipor/platform#19_

[2016-02-22 10:58] bajiat commented on #1
_From @jykae on February 22, 2016 9:0_

Created repo https://github.com/Digipalvelutehdas/dipor-dashboard and added @bajiat and @brylie as admin.

[2016-02-22 10:58] bajiat opened #2 "Move repository and set up Waffle"
_From @bajiat on February 22, 2016 8:49_

Move the contents of this repository to Digipalvelutehdas. Invite all team members. Set up Dipor team in Digipalvelutehdas organization. Set up a Waffle board.

_Copied from original issue: Dipor/platform#19_

[2016-02-22 10:58] bajiat commented on #2
_From @jykae on February 22, 2016 9:0_

Created repo https://github.com/Digipalvelutehdas/dipor-dashboard and added @bajiat and @brylie as admin.

[2016-02-22 10:58] bajiat commented on #2
This issue was moved to Digipalvelutehdas/dipor-dashboard#1

[2016-02-22 11:00] bajiat commented on #2
Duplicate of #1

[2016-02-22 11:00] #2 closed

[2016-02-22 11:01] bajiat opened #3 "Translate all core project documents to English"
_From @bajiat on February 19, 2016 13:15_

Translate user requirements and other core documents to English in order for the project team to be on the same page.

Definition of done
---
* [ ] User requirements document is available in English.
* [ ] Relevant sections of request for proposal document are available in English.

_Copied from original issue: Dipor/platform#18_

[2016-02-22 11:10] bajiat opened #4 "Create organization publication(s)"
_From @bajiat on February 19, 2016 12:47_

In order to publish data from collection to client, create server-side publication(s) for organization collection.

Definition of done
----
* [ ] Publication for "all" organizations exists.
* [ ] Publication for single organization exists.
  * [ ] Single organization publication takes organization id as argument.

_Copied from original issue: Dipor/platfo

[2016-02-22 11:10] bajiat commented on #4
jykae interested

[2016-02-22 11:11] bajiat opened #5 "Create initial Swagger json with Organization API details"
_From @bajiat on February 19, 2016 12:22_

Use a tool to create the Swagger file for Organization REST endpoints.

Definition of done
---
* [ ] Swagger file exists in project.
* [ ] Swagger file contains general description of API.
* [ ] Swagger file contains specific details for each API endpoint.
* [ ] Swagger file passes validation.
* [ ] Swagger file is published and accessible via URL route.

[2016-02-22 11:14] bajiat opened #6 "Create user profile view"
_From @bajiat on February 19, 2016 12:19_

Create basic user profile view. Determine important information for organization members.

Definition of done
---
* [x] Relevant user profile elements have been defined on the basis of user requirement document.
* [x] Fields have been added to user profile schema.
* [x] User profile view exists.

_Copied from original issue: Dipor/platform#13_

[2016-02-22 11:14] bajiat commented on #6
@elnzv Would this fit to your schedules?

[2016-02-22 11:14] bajiat opened #7 "Create an organization member management view"
_From @bajiat on February 19, 2016 12:17_

Create an user interface to add organization members from existing users. Allow user role to be assigned at organization level.

Definition of done
---
* [ ] Organization member management template exists.
* [ ] Template includes field for entering email for the purpose of searching users.
* [ ] Template includes list of current organization members.
* [

[2016-02-22 11:14] bajiat opened #8 "Create organization collection permissions"
_From @bajiat on February 19, 2016 12:16_

Define who can add, edit (and delete) organizations. Create roles and permission for these actions.

Definition of done
---
* [ ] Administrator id(s) field exists in organization schema.
* [ ] Administrator id(s) field type is an array of string.
* [ ] When adding an organization, user id is added to administrator id's field in organization document.
* [

[2016-02-22 11:16] bajiat opened #9 "Create organization collection and schema"
_From @bajiat on February 19, 2016 12:14_

Based on user requirement document, create organize collection and define organization schema with at least most relevant fields.

Definition of done
---
* [ ] Organization collection exists.
* [ ] List of organization collection fields exists in plain text in this issue.
* [ ] Schema exists for most relevant fields.
* [ ] Schema has been attached to coll

[2016-02-22 11:16] bajiat commented on #9
jykae interested

[2016-02-22 11:17] bajiat opened #10 "Create initial navigation menu"
_From @bajiat on February 19, 2016 12:12_

Working together with CSS framework and master layout task, create minimal navigation menu. e.g. top menu.

Definition of done
---
* [ ] Initial navigation menu added to master layout.
* [ ] Navigation menu uses CSS framework semantics and structure.
* [ ] Navigation menu contains link to front page.

_Copied from original issue: Dipor/platform#6_

[2016-02-22 11:17] bajiat opened #11 "Create simple landing page"
_From @bajiat on February 19, 2016 12:11_

Create a template with basic welcome message.

Definition of done
---
* [ ] Landing page template exists.
* [ ] Landing page contains one-paragraph long welcome text.

_Copied from original issue: Dipor/platform#5_

[2016-02-22 11:17] bajiat commented on #11
jykae interested

[2016-02-22 11:17] bajiat opened #12 "Create contributing.md"
_From @bajiat on February 19, 2016 12:10_

Review Apinf contributing.md and modify, if needed.

Definition of done
---
* [ ] Contributing.md copied from Apinf repository to Dipor.
* [ ] Any required modifications are done regarding package structure or development policies.

_Copied from original issue: Dipor/platform#4_

[2016-02-22 11:17] bajiat opened #13 "Create master layout"
_From @bajiat on February 19, 2016 12:10_

Create a master layout that will wrap all primary project views.

Definition of done
---
* [ ] Work in parallel with navigation and CSS framework.
* [ ] Master layout created.
* [ ] Master layout contains at least one dynamic template region.

_Copied from original issue: Dipor/platform#3_

[2016-02-22 11:17] bajiat commented on #13
Jykae interested

[2016-02-22 11:18] bajiat opened #14 "Create minimal project structure"
_From @bajiat on February 19, 2016 12:10_

Create initial Meteor project. Include known package requirements, e.g. routing.

Definition of done
---
* [ ] Initial Meteor project commited and included in the project.
* [ ] Core packages added, e.g. routing, ecmascript

_Copied from original issue: Dipor/platform#2_

[2016-02-22 11:18] bajiat opened #15 "Select and install CSS framework"
_From @bajiat on February 19, 2016 12:9_

Choose and install a CSS framework to carry project forward.

### Considerations include
* Meteor packaging and integration with other common packages, e.g. autoform and accounts UI
* Team familiarity
* Documentation

Definition of done
---
* [x] Study the alternatives quickly
* [x] Make informed recommendation in writing to the team (details in this issue

[2016-02-22 11:18] bajiat commented on #15
@elnzv Would you be interested in selecting the CSS framework?

[2016-02-22 11:20] bajiat opened #16 "Create all organizations view"
Create initial markup for all organizations view. Include i18n tags.

Definition of done
---
* [x] Basic markup exists, optionally using CSS framework semantics.
* [x] i18n tags have been included for any UI texts.
* [x] Subscription to all organizations publication exists.

[2016-02-22 11:20] bajiat commented on #16
To be assigned to frenchbread.

[2016-02-22 11:23] bajiat opened #17 "Create the REST API for Organizations"
_From @bajiat on February 19, 2016 12:21_

Create REST API endpoints for Organizations collection (all organizations publication, single organization publication).

Definition of done
---
* [x] Quick research about REST packages for Meteor, e.g. Simple REST.
* [x] REST package has been added to project.
* [x] REST routes have been added for organizations collection.
* [x] REST routes have access c

[2016-02-22 11:23] bajiat commented on #17
To be assigned to frenchbread

[2016-02-22 11:24] bajiat opened #18 "Add inline editing to organization view"
_From @bajiat on February 19, 2016 12:16_

One of the user requirements for portal was allowing inline editing instead of having separate page for editing. Study the options for inline editing and make an informed decision based on the study.

Definition of done
---
* [x] Inline editing framework has been chosen.
* [x] Edit button for organization view exists.
* [x] Clicking edit button enables in

[2016-02-22 11:24] bajiat commented on #18
To be assigned to frenchbread

[2016-02-22 11:25] bajiat opened #19 "Create organization view"
_From @bajiat on February 19, 2016 12:14_

Create initial markup for public organization view. Include i18n tags.

Definition of done
---
* [x] Basic organization markup exists, optionally using CSS framework semantics.
* [ ] i18n tags have been included for any UI texts.
* [x] Subscription to Organization publication exists.

_Copied from original issue: Dipor/platform#7_

# Reference
Please see

[2016-02-22 11:25] bajiat commented on #19
To be assigned to frenchbread after the issue has been migrated to Digipalvelutehdas.

[2016-02-22 13:36] #14 closed

[2016-02-22 14:58] bajiat commented on #3
Requirements in English: https://github.com/Digipalvelutehdas/dipor-dashboard/blob/master/docs/requirements.md

[2016-02-23 09:16] #1 closed

[2016-02-23 09:26] bajiat opened #21 "Create site map diagram"
Create a site map diagram based on the requirements document and the system model document.

Definition of done
---
* [ ] Site map diagram exists in documentation folder.
* [ ] Site map visualizes the main views of the portal.
* [ ] Site map exists in a format that allows editing (e.g. svg).
* [ ] If possible, site map includes user roles.

[2016-02-23 11:46] frenchbread commented on #19
Waiting for issue #9 to be implemented. Currently blocked.

[2016-02-23 12:46] elnzv commented on #15
Alternatives:
- [Foundation](https://atmospherejs.com/ewall/foundation)
- [Semantic UI ](https://atmospherejs.com/semantic/ui-css)

These two are good, but I propose to use [Bootstrap](https://atmospherejs.com/twbs/bootstrap):
- our team is already familiar with it, so saves us time,
- Bootstrap is really powerful framework with many features and full of examples,
- also there many other common pa

[2016-02-23 12:52] brylie commented on #15
:+1:

[2016-02-23 13:39] bajiat commented on #15
+1 for Bootstrap, because dev team is already familiar with it

[2016-02-23 14:16] frenchbread commented on #15
Yea, let's stick with Bootstrap.

[2016-02-24 07:49] #15 closed

[2016-02-24 08:32] brylie opened #25 "Add issue template to repository"
Github now supports [issue templates](https://help.github.com/articles/creating-an-issue-template-for-your-repository). Issue templates are intended to help people submit consistent issues, and to encourage the inclusion useful information.

Add an issue template to our repository based on the contributing.md document.

Suggestion: Create a template that contains the text from both feature request

[2016-02-24 08:34] brylie opened #26 "Add pull request template to repository"
Github now supports [pull request templates](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository). Pull request templates are intended to help people submit consistent pull requests, and to encourage the inclusion useful information.

Include at least the following in the pull request template:

[code]

[2016-02-24 09:47] brylie commented on #19
@frenchbread I have added a link to the requirements document description of this view:
https://github.com/Digipalvelutehdas/dipor-dashboard/blob/master/docs/requirements.md#organization-view-registered-user-who-is-a-member-of-the-organization-in-question

[2016-02-24 10:05] brylie commented on #9
@kyyberi do we anticipating there being the possibility of multiple administrators for any organizations?

* If so, we should consider storing an array of userIDs in the administrator field.
* If not, a single user ID can be stored.

[2016-02-24 10:10] brylie commented on #9
@kyyberi the specification says "Name of the organization administrator and a link to a profile" when describing the organization view. This implies there should be only one administrator per organization.

I just want to clarify this point, so that we can build out permissions, etc. based on the data type of this field.

[2016-02-24 10:12] brylie commented on #9
@bajiat this is a relatively small task, since there seem to be only two initial fields. I will open a PR once we have clarity regarding the "administrator" field, so that we can continue in related tasks.

[2016-02-24 10:14] frenchbread commented on #19
@brylie Ok, thanks.

[2016-02-24 11:03] brylie commented on #18
FWIW, I used the Hallo.js in the [Lean Canvas demo app](https://github.com/Dipor/canvas-app). However, I like that MediumEditor has no dependencies, and seems to have quite a few extensions.

[2016-02-24 11:11] frenchbread commented on #18
Tried MediumEditor, looks cool! It also has official [`meteor package`](https://atmospherejs.com/mediumeditor/mediumeditor).

[2016-02-24 11:21] brylie commented on #18
Ah, cool. My vote goes for MeteorEditor then :-) :+1:

[2016-02-25 17:24] kyyberi commented on #9
@brylie probably have to be 2 admins in org due to holidays and so. Good clarification

[2016-02-25 19:30] frenchbread commented on #19
Working branch - [`feature/19-organization-view`](https://github.com/Digipalvelutehdas/dipor-dashboard/commits/feature/19-organization-view).

[2016-02-25 20:43] frenchbread opened #30 "Charting library for DIPOR."
## Charting library to be used in DIPOR

**The priority goes to:**
 * [Dimple.js](http://dimplejs.org/)

**Also there are:**
* [C3.js](c3js.org)
* [DC.js](https://dc-js.github.io/dc.js/)
* [plotly.js](https://plot.ly/javascript/)

#### Examples:
I've created [sample app](https://github.com/frenchbread/dimplejs-charts-examples) that uses `dimple.js` lib. Since the lib is a bit limited with features

[2016-02-26 09:03] #26 closed

[2016-02-26 09:29] brylie commented on #9
@kyyberi I have made the change allowing multiple administrators per organization.

[2016-02-26 11:46] #3 closed

[2016-02-26 12:04] brylie opened #31 "Create data model diagram"
In order to plan and implement the system, we need a data model. Prepare a basic data model diagram, showing all anticipated collections, fields, and relationships.

[2016-02-27 10:53] kyyberi commented on #9
Excellent

[2016-02-27 17:21] #10 closed

[2016-02-29 09:15] #21 closed

[2016-02-29 09:15] #12 closed

[2016-03-01 07:46] #31 closed

[2016-03-01 13:57] #4 closed

[2016-03-01 13:59] #13 closed

[2016-03-01 14:01] #11 closed

[2016-03-01 16:23] #5 closed

[2016-03-01 16:32] #8 closed

[2016-03-02 08:31] kyyberi commented on #5
And contains data models as we know them at that point

[2016-03-02 09:52] #9 closed

[2016-03-02 10:05] #16 closed

[2016-03-02 10:16] #19 closed

[2016-03-02 10:47] bajiat opened #45 "Create single department view"
Create initial markup for department view. Include i18n tags.

Definition of done
---
* [x] Basic department markup exists, using CSS framework semantics.
* [x] i18n tags have been included for any UI texts.
* [x] Subscription to department publication exists.
* [x] Organization members are allowed to view organization departments.

# Reference
Please see the [requirements document (department vie

[2016-03-02 10:49] bajiat opened #46 "Create organization departments view"
Create initial markup for organizations department view. Include i18n tags.

Definition of done
---
* [x] Basic department(s) markup exists, using CSS framework semantics.
* [x] i18n tags have been included for any UI texts.
* [x] Subscription to organization departments publication exists.
* [x] Organization members are allowed to view organization departments.

# Reference
Please see the [requir

[2016-03-02 10:54] bajiat opened #47 "Create departments collection and schema"
Based on data model diagram, create departments collection and define departments schema with all current fields.

Definition of done
---
* [ ] Departments collection exists.
* [ ] Schema exists for all current fields.
* [ ] Schema has been attached to collection.

# Related
See the data model diagram [details about this feature](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/do

[2016-03-02 10:57] bajiat opened #48 "Create department related publications"
In order to publish data from collection to client, create server-side publication(s) for departments collection.

Definition of done
----
* [ ] Publication for organization departments exists.
  * [ ] Organization deparments publication takes organization id as argument.
* [ ] Publication for single department exists.
  * [ ] Single department publication takes department id as argument.

[2016-03-02 11:04] bajiat opened #49 "Create a modal view for adding an organization"
Create a view that all inserting a new organization into the portal.

Definition of done
---
* [ ] Modal dialog package added to project.
* [ ] Autoform package added to project.
* [ ] Add form template included in project.
* [ ] Add organization field contains name and description fields.
* [ ] When inserting an organization, current user id is added to organization admin id fields organization d

[2016-03-02 11:10] bajiat opened #50 "Create a modal view for adding a department"
Create a view that all inserting a new department into the portal.

Definition of done
---
* [x] Modal dialog package added to project, if not already added.
* [x] Autoform package added to project,  if not already added.
* [x] Add form template included in project.
* [x] Add department field contains name and description fields.
* [x] When inserting a department, current user id is added to depar

[2016-03-02 11:19] bajiat opened #51 "Add inline editing to single department view"
Add inline editing functionality to single department view.

Definition of done
---
* [ ] Edit button for organization view exists.
* [ ] Clicking edit button enables inline editing for page elements
* [ ] Clicking save button saves changes to database.
* [ ] Cancel button disables edit more
* [ ] Only edit button or save and cancel buttons are available at any given time.
* [ ] Edit and save / ca

[2016-03-02 11:23] bajiat opened #52 "Create department collection permissions"
Define who can add, edit departments. Create roles and permission for these actions.

Definition of done
---
* [x] Admininistrator role is allowed to edit / update department.

[2016-03-02 11:31] bajiat opened #53 "Create a department member management view"
Create an user interface to add department members from existing users. Allow user role to be assigned at department level.

Definition of done
---
* [ ] Department member management template exists.
* [ ] Template includes field for entering email for the purpose of searching users.
* [ ] Template includes list of current department members.
* [ ] Template allows roles to be assigned to current d

[2016-03-02 11:35] bajiat opened #54 "Create initial Swagger json file for departments API endpoints"
Use a tool to create the Swagger file for department REST endpoints. Swagger file is defined before creating the API endpoints (design first principle).

Definition of done
---
* [x] Swagger file exists in project.
* [x] Swagger file contains general description of API.
* [x] Swagger file contains specific details for each API endpoint.
* [x] Swagger file passes validation.
* [x] Swagger file is p

[2016-03-02 11:38] bajiat opened #55 "Create the REST API for departments collection"
Create REST API endpoints for departments collection (organization departments publication, single department publication).

Definition of done
---
* [x] REST package has been added to project.
* [x] REST routes have been added for departments collection.
* [x] REST routes have access control.

[2016-03-02 11:40] bajiat opened #56 "Create portal logo"
Create Dipor portal logo using Roboto font bold. All characters in logo should be upper case.

Definition of done
---
* [ ] Logo exists.
* [ ] Logo has been added to public folder in code repository.
* [ ] Logo has been added to main layout.

[2016-03-02 11:42] bajiat opened #57 "Allow users to log in via SAML2 identity provider"

[2016-03-02 11:45] preriasusi commented on #57
Users shoudl be able to login with Virtu:
https://confluence.csc.fi/display/VIRTU/Virtu-testipalvelimet

[2016-03-02 11:46] preriasusi commented on #57
https://github.com/nate-strauser/meteor-accounts-saml

[2016-03-02 11:46] preriasusi commented on #57
https://www.npmjs.com/package/saml2-js

[2016-03-02 11:53] bajiat opened #58 "Determine cache strategy for remote data sources"
We are planning with one or more remote data sources, such as Github. To prevent unnecessary REST calls we can cache data in our app. Discuss and determine options and frequency for data caching comparing with on-demand REST calls.

[2016-03-02 11:54] bajiat commented on #58
@kyyberi @preriasusi This is something for you to comment on. We are probably looking at this a few weeks.

[2016-03-02 12:12] jykae commented on #17
@frenchbread I would be interested to work on this one as I am now back from sick vacation.

[2016-03-02 12:17] frenchbread commented on #17
Ok, feel free @jykae!

[2016-03-02 12:49] brylie opened #59 "Remove ongoworks:security"
Currently, ongoworks:security is causing a few bugs in our develop branch. Remove the ongoworks:security package and any related permissions files.

[2016-03-02 12:59] brylie commented on #18
@frenchbread we realized that only organization administrators should be able to edit the organization details, so updated the description. Also, make sure that we save the changes in the collection.

[2016-03-02 13:00] #59 closed

[2016-03-02 13:01] frenchbread commented on #18
@brylie Yep, working on it. Have some progress.

How do we deal with permissions if there is no any roles yet?

[2016-03-02 13:01] frenchbread commented on #18
Oh, actually this is about writing custom helper..

[2016-03-02 13:03] brylie commented on #18
That is part of it, yes. We realized there probably needs to be an 'edit mode' with 'save' and 'cancel' buttons, so that changes can be stored to the collection or reverted.

[2016-03-02 13:05] brylie commented on #18
It is up to you whether we go the 'save' and 'edit' button route, or if there is a more elegant solution.

Basically, we need to
*  make sure only authorized users can edit,
* help users realize the details can be edited via a signifier
* make sure edits are saved to the collection, or reverted if the user cancels somehow

[2016-03-02 13:54] bajiat opened #62 "Deploy sprint 1 demo to VM"
OpenStack environment.

Definition of done
---
* [x] Subdomain is created.
* [x] VM is created.
* [x] Dependencies are installed via MupX.
* [x] MupX script exists in secure, shared location.
* [x] Prototype has been deployed to virtual machine using MupX.
* [x] Customer has been notified about availability.

[2016-03-02 15:04] frenchbread commented on #18
Created PR #61.

[2016-03-02 15:39] jykae commented on #17
The beginning of simple REST:

![simplerest](https://cloud.githubusercontent.com/assets/293452/13464078/05f75bf6-e098-11e5-9bd3-a1abab818b7b.png)

[2016-03-03 10:45] jykae commented on #17
just clarifying requirements for this task, basic CRUD operations should be probably available for organizations? For API authentication proposing token auth, https://github.com/stubailo/meteor-rest/tree/master/packages/authenticate-user-by-token

[2016-03-03 11:00] brylie opened #64 "Add initial user authentication"
In order to build access control features, we will be working with users. Add initial user account support.

[2016-03-03 11:27] jykae commented on #17
Current API routes,

![apiroutes](https://cloud.githubusercontent.com/assets/293452/13492596/a2ac4cdc-e141-11e5-9a7e-c32bc1b6b0e8.png)

Would be good to somehow define also collection CRUD operations /organizations under /api/organizations haven't found way how to do so, as GET method now clashes with organization view route. For publications it's possible to define custom route.

I could also eva

[2016-03-03 11:35] jykae commented on #17
Opened issue related custom endpoint route for collections: https://github.com/stubailo/meteor-rest/issues/94

[2016-03-03 11:43] #64 closed

[2016-03-04 09:14] elnzv commented on #56
@kyyberi, is it something asked for? and which one of these?

![dipor_logo](https://cloud.githubusercontent.com/assets/7489044/13522765/25a0e5a4-e1fa-11e5-87c0-bfddd74f2ccc.png)
![digipalvelutehdas_logo](https://cloud.githubusercontent.com/assets/7489044/13522766/27a35026-e1fa-11e5-9c3f-7df5f049dbcb.png)

[2016-03-04 09:23] elnzv commented on #56
"In real life":
![screencapture-localhost-3000-1457083285052](https://cloud.githubusercontent.com/assets/7489044/13522994/6ec13030-e1fb-11e5-96a2-21d27fb4e565.png)

[2016-03-04 12:58] bajiat opened #66 "Auto-generate API documentation file"
Refer to [Meteor SimpleREST issue #93](https://github.com/stubailo/meteor-rest/issues/93)

Definition of done
---
* [x] Review the issue
* [x] Get an uderstanding of what code needs to be written
* [x] Fork or create a new package
* [x] Review Swagger spec for required fields for producing a Swagger file
* [x] Implement minimum required Swagger fields in JSON format
  * [x] When a user visits Swag

[2016-03-04 13:15] bajiat opened #67 "Set up unit testing framework"
Following the example from Apinf, set up unit testing framework for Dipor. Add the required packages and write the example test(s) for our organization feature.

Definition of done
---
* [x] Testing packages have been added to project.
* [x] Organization feature contains at least one unit test.
* [x] Read.me contains instruction on how to run unit tests.

[2016-03-04 13:29] jykae commented on #62
Interested in this one.

[2016-03-04 13:30] jykae commented on #55
Would be nice follow up for the REST API task. Interested.

[2016-03-04 13:32] jykae commented on #66
I could be co-pilot for @brylie or someone who takes this. Closely related to REST task.

[2016-03-04 13:56] #17 closed

[2016-03-04 14:06] jykae opened #68 "REST API improvements"
Sub-tasks:

* [x] Define authentication method for REST API, token based authentication preferred
* [x] Expose only relevant API endpoints
* [x] Find out how to customize API endpoint routes, would be good to have everything under "/api" -route

[2016-03-04 15:13] kyyberi commented on #68
Version must be in path "/api/v1/organisations/{id}"

[2016-03-04 17:11] kyyberi commented on #56
The small example case looks good.

[2016-03-04 17:14] kyyberi commented on #58
We discussed this briefly with @preriasusi this week. One model could that cache contains enough data to show for example 2 weeks data as graphs. If more history is needed, then missing info is gathered via APIs from sources. Cache is there to enable faster showing of most used data timeframe.

[2016-03-06 08:34] #18 closed

[2016-03-07 07:49] frenchbread commented on #49
interested

[2016-03-07 07:49] frenchbread commented on #51
interested

[2016-03-07 08:35] bajiat commented on #50
@frenchbread Could you take this task? It is similar to the one you were interested in (modal view for adding department).

[2016-03-07 08:35] bajiat commented on #51
@frenchbread Assigned to you. Can you please estimate?

[2016-03-07 08:42] bajiat commented on #67
@alapan @ashakunt Is this a suitable task for Alapan for this sprint?

[2016-03-07 08:46] bajiat opened #69 "Set up localisation environment"
Definition of done
---

* [ ] Select the tool
* [ ] Import the i18n file to the localisation tool
* [ ] Optionally, work with the translations for sprint 1 texts

[2016-03-07 08:49] bajiat commented on #53
@frenchbread Would you be interested in this task? You can follow the model from #7 by @brylie

[2016-03-07 08:53] bajiat opened #70 "Explore plotly.js"
plotly.js is a charting library. Check out the possibilities and create a demo to display some charts.

Definition of done
---
* [ ] New Meteor project has been created.
* [ ] plotly library is added to project.
* [ ] Sample data has been downloaded or created.
* [ ] Application displays two different chart types on frontpage.

[2016-03-07 08:54] bajiat commented on #70
@frenchbread Would you be interested in this? Only if you have time, other tasks have higher priority.

[2016-03-07 08:57] bajiat opened #71 "Create Github integration example"
Study the Github APIs and select the most relevant data available through the API. Create a sample application that pulls data through the Github API.

**Note:** For this task, prioritize only public data, so that we do not have to work with authentication tokens at this point.

Definition of done
---

* [x] New Meteor demo project exists.
* [x] Optionally, Github integration package has been adde

[2016-03-07 08:58] bajiat commented on #71
@alapan @ashakunt Is this something Alapan could work with?

[2016-03-07 09:03] bajiat commented on #57
@kyyberi What is the priority for this? Is the definition of done accurate?

[2016-03-07 09:07] bajiat opened #72 "Create sign up / sign in page"
Ensure that uses can register and login to Dipor.

Definition of done
---

* [ ] Accounts template package is added to project.
* [ ] Sign in / sign up routes have been configured.
* [ ] Determine any other useful configuration options.
* [ ] Sign in / sign up pages exists.
* [ ] Sign in / sign up use Bootstrap styles.
* [ ] Link in navigation menu exists.

[2016-03-07 10:34] #47 closed

[2016-03-07 10:50] #48 closed

[2016-03-07 11:38] #49 closed

[2016-03-07 11:56] bajiat commented on #62
@jykae You can find the release here: https://github.com/Digipalvelutehdas/dipor-dashboard/releases/tag/0.1.0

[2016-03-07 12:01] brylie opened #78 ""Create Organization" button should only appear for logged-in users"
Make sure the "Create Organization" button, on the All Organizations page, only shows for logged-in users.

[2016-03-07 12:28] #78 closed

[2016-03-07 13:28] frenchbread commented on #70
@bajiat Ok.

[2016-03-07 13:28] frenchbread commented on #50
@bajiat self-assigned

[2016-03-07 13:30] frenchbread commented on #51
@bajiat Time-estimations are in [2016-03-07-Sprint-02-Planning.md](https://github.com/Digipalvelutehdas/dipor-dashboard/commit/3ec70f0fda29b9119148504f6fd5d87ca0f737ef) file.

[2016-03-07 14:08] jykae commented on #62
dashboard.digipalvelutehdas.fi is up, customer has been notified

I will put deployment files to shared location.

[2016-03-07 14:22] jykae commented on #62
I will also generate Let's Encrypt SSL certificate as a part of this task. Customer seems to like SSL Everywhere.

[2016-03-08 08:36] jykae commented on #62
dashboard.digipalvelutehdas.fi has now also SSL certificate in addition to things listed.

[2016-03-08 08:36] #62 closed

[2016-03-08 09:44] jykae opened #83 "Force HTTPS"
Use HTTPS everywhere

* [x] add force-ssl package to project

[2016-03-08 09:55] #83 closed

[2016-03-08 11:42] preriasusi commented on #57
@kyyberi One option for idp is eduuni. You can log in to eduuni with Virtu.

[2016-03-08 12:05] jykae commented on #66
@brylie I commented to the original issue, trying to get understanding how I should do this.

[2016-03-08 12:26] jykae commented on #66
I think we could keep discussion in the original issue. How about forking under Apinf organization, working there and then contributing back to meteor-rest? Forks can be compared, so I think I would be able to do PR that way.

[2016-03-08 13:15] jykae commented on #66
Forked under Apinf organization: https://github.com/apinf/meteor-rest
I could make also the other small improvements I wrote down in issue #68

[2016-03-08 14:22] jykae commented on #66
There is nice initial test set for meteor-rest packages. I think I need to make changes only to "packages/rest" and "packages/json-routes".

![simpletest](https://cloud.githubusercontent.com/assets/293452/13603965/454e5eca-e549-11e5-9634-26b514a313d6.png)

[2016-03-08 14:35] jykae commented on #66
There is minimal Petstore Swagger that I could use as reference: https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-minimal.json

[2016-03-08 14:41] jykae commented on #66
Swagger parser/validator for checking produced output: http://bigstickcarpet.com/swagger-parser/www/index.html

[2016-03-08 16:50] Alapan commented on #67
I wrote some tests and ran them successfully. However, when trying to push my branch, I got a Permission Denied error.

[2016-03-09 08:40] jykae commented on #66
I think I try to make separate plugin package as @brylie suggested in the original issue, it would be easier to switch to another format.

[2016-03-09 10:43] jykae opened #87 "Try Restivus for REST API"
Restivus might provide more RESTful approach and better customizability as well as documentation.
Also simple:rest authentication support is pretty much work in progress, https://github.com/stubailo/meteor-rest/issues/95

Try rewriting the Organizations and Departments collections endpoints with Restivus. Bind to existing collections.

[2016-03-09 10:46] #52 closed

[2016-03-09 10:55] jykae commented on #66
I put this on hold if Restivus would be better alternative for us #87

Both packages use json-routes, but Restivus might be more mature and customizable. Also stubailo recommended to use that one if we want more RESTful approach.
simple:rest authentication is also pretty much work in progress.

[2016-03-09 15:12] jykae commented on #68
We are probably switching to Restivus for maturity and customizability, https://github.com/kahmali/meteor-restivus

Supports also versioning like in guidelines.

[2016-03-09 15:19] frenchbread commented on #51
Depends on #45 and #46.

[2016-03-09 15:20] frenchbread commented on #53
Depends on #45

[2016-03-10 08:00] jykae commented on #66
Continuing, looking how this would fit with Restivus.

[2016-03-10 08:03] bajiat commented on #51
@frenchbread Thanks for estimating. I added your estimations to the tasks on the sprint board. For task #53 you had estimated 15h, but since that is not available in Waffle, I marked it as 13h.

[2016-03-10 12:29] #68 closed

[2016-03-10 12:29] #87 closed

[2016-03-11 08:10] jykae opened #92 "Feature: Service Changelog"
Problem:
"Itseäni kiinnostaisi nähdä vähintään palvelun changelog. Esim. sellaisessa tilanteessa että telkkarin selain ei enää näytä Yle Areenan ohjelmia niin olisihan se selvittelyjen helpottamiseksi kiva katsoa onko palveluun tullut muutoksia vai hakeeko muualta tietoa vikaantumiseen." - Marko Suvila
(taken from Digipalvelutehdas Slack)

Solution:
* Compare Github PRs and/or commit history betwe

[2016-03-11 08:37] #25 closed

[2016-03-11 08:42] #50 closed

[2016-03-11 09:26] #55 closed

[2016-03-11 10:40] #72 closed

[2016-03-11 12:11] jykae commented on #66
Swagger route added.
Main meta can be defined in Restivus configuration:

![swagger](https://cloud.githubusercontent.com/assets/293452/13701826/fe37b0e4-e792-11e5-9d51-f119da53d765.png)

[2016-03-11 13:24] brylie commented on #66
@jykae great work!

[2016-03-11 14:18] #7 closed

[2016-03-11 16:16] jykae commented on #66
Package code: https://github.com/apinf/restivus-swagger

I will make PR about Restivus configuration, and route meta configurations, when I am closer.

[2016-03-14 08:40] elnzv commented on #56
@kyyberi, which one of two closes this issue? and where should I upload the logo?

[2016-03-14 08:51] #6 closed

[2016-03-14 09:18] bajiat commented on #71
@ashakunt Any updates on this? Does @alapan have any interest or time for this? The delete task in the Apinf side has been quite large, so we understand this has not been high priority. We could also assign this to someone else.

[2016-03-14 09:48] Alapan commented on #71
@bajiat I will start with this today, as soon as I finish making changes in the 2 PRs I created last week.

[2016-03-14 09:48] ashakunt commented on #71
(y)

[2016-03-14 09:49] ashakunt commented on #71
assigned to @Alapan

[2016-03-14 14:36] bajiat commented on #71
@Alapan That's great!

[2016-03-14 15:07] #67 closed

[2016-03-14 15:35] Alapan commented on #71
Project created with Github package, in progress.

[2016-03-14 16:59] jykae commented on #66
PR opened.
Package published in Atmosphere, https://atmospherejs.com/apinf/restivus-swagger

Generated swagger.json is minimum viable valid swagger.json

![validswagger](https://cloud.githubusercontent.com/assets/293452/13752249/867a1dc2-ea16-11e5-8e49-3440d6ff6dbc.png)

[2016-03-15 08:59] #46 closed

[2016-03-15 09:10] bajiat opened #96 "Familiarize with Dimple API"
Create sample code for using Dimple library for visualization

[2016-03-15 09:50] brylie commented on #71
Do you have a repository where we can follow? Feel free to add a repository under our Dipor organization.

[2016-03-15 09:52] brylie commented on #71
@Alapan I have created a repository for the github-viewer project:
https://github.com/Dipor/github-viewer

Please commit your code and continue working there.

[2016-03-15 10:31] brylie opened #97 "Remove 'main' folder from project"
The project currently has a 'main' folder that was currently renamed to 'core'. Somehow, the 'main' folder is still in the project, although it should not be in use. Make sure the 'main' folder is no longer in use, and remove it from the project.

[2016-03-15 12:06] frenchbread commented on #96
Here are some examples I've created. (https://github.com/frenchbread/dimplejs-charts-examples)

[2016-03-15 16:19] Alapan commented on #71
I created a feature to view a list of open pull requests for a given user/organization and a repository. It is working now, but I could not push my branch as I don't have access to the repository yet - https://github.com/Dipor/github-viewer

[2016-03-16 07:43] preriasusi opened #99 "As a organization owner I want to get notified when new project is added."

[2016-03-16 08:03] #97 closed

[2016-03-16 09:47] jykae opened #100 "API authentication methods with Swagger UI"
## Description
how to authenticate users for Swagger UI. In general terms, what API authentication methods we can/will support (key based, session, etc.).

## Resources
Restivus authentication: https://github.com/kahmali/meteor-restivus/#authenticating
Swagger UI Headers support: https://github.com/swagger-api/swagger-ui#custom-header-parameters---for-basic-auth-etc

[2016-03-16 11:42] Alapan commented on #71
@brylie I tried to push my feature branch now, but it showed:

`remote: Permission to Dipor/github-viewer.git denied to Alapan.
fatal: unable to access 'https://github.com/Dipor/github-viewer.git/': The requested URL returned error: 403`

[2016-03-16 12:10] brylie commented on #71
I have given you write permissions on the repository. Did you accept the invitation?

[2016-03-16 12:11] brylie commented on #71
Try again now.

[2016-03-16 12:14] Alapan commented on #71
Ok, yes, very sorry, I didn't see the invitation I had received. I have pushed the branch and will create the PR now.

[2016-03-16 12:17] brylie commented on #71
@Alapan run the following command(s) from within your repository directory:

[code]

[2016-03-16 12:18] Alapan commented on #71
@brylie I executed the command.

[2016-03-16 12:20] brylie commented on #71
OK, one moment. I am figuring out the specifics. Basically, we need to remove references to the previous git repository, and replace them with the new location under Digipalvelutehdas:

[code]

[2016-03-16 12:24] brylie commented on #71
Those commands should update your repository references properly.

[2016-03-16 12:24] brylie commented on #71
Once you have the proper remote references, you should be able to push your changes.

[2016-03-16 12:47] jykae opened #101 "Feature: Screenshot with PhantomJS"
# Screenshot with PhantomJS

"Periodically update service image by taking a screenshot with PhantomJS."
- Jussi Vestman, Digipalvelutehdas

![screen shot 2016-02-10 at 13 16 24](https://cloud.githubusercontent.com/assets/293452/13812631/e5882ca8-eb85-11e5-8260-1e0a4ee107ef.png)

[2016-03-16 13:55] bajiat opened #103 "Create collection related code for services feature"
Create schema, collection, publication and privileges for services collection

Definition of done
---
* [ ] Services collection exists.
* [ ] Services schema exists.
  * [ ] Services schema contains field defined in requirements document.
  * [ ] Schema is attached to the services collection.
* [ ] Services publications exist.
  * [ ] All organization services publication exists
  * [ ] Single ser

[2016-03-16 13:57] bajiat opened #104 "Create collection related code for services feature"
Create schema, collection, publication and privileges for services collection

Definition of done
---
* [x] Services collection exists.
* [x] Services schema exists.
  * [x] Services schema contains field defined in requirements document.
  * [x] Schema is attached to the services collection.
* [x] Services publications exist.
  * [x] All organization services publication exists
  * [x] Single ser

[2016-03-16 14:03] bajiat opened #105 "Create view and subscription for all organization services"
Create a view that shows a catalog or similar of all the services attached to an organization.

Definition of done
---
* [ ] Organization services template exists.
* [ ] Subscription to organization services exists in template.
* [ ] Organization services template lists all services referencing organizations or departments within organizations.
* [ ] Optionally, display department name for service

[2016-03-16 14:19] bajiat opened #106 "Create view and subscription for single service"
Create a template and subscription that allows building single service summary view. Refer to requirements document for details on the view.

Definition of done
---
* [x] Single service summary template exists.
* [x] Template contains single service subscription.
* [ ] Template contains logic to show different content based on user status.
  * [ ] Where desirable, registered users and PO  see the

[2016-03-16 14:19] bajiat opened #107 "Add inline editing to single service view"
Add inline editing functionality to single service view.

Definition of done
---
* [x] Edit button for single service view exists.
* [x] Clicking edit button enables inline editing for page elements
* [x] Clicking save button saves changes to database.
* [x] Cancel button disables edit more
* [x] Only edit button or save and cancel buttons are available at any given time.
* [x] Edit and save / can

[2016-03-16 14:35] bajiat opened #108 "Create a modal dialog for adding service"
Create a modal view for adding a service to the portal.

Definition of done
---
* [ ] Modal dialog template exists.
* [ ] Optionally, modal dialog template takes arguments or data context for organization id and department id.
* [ ] Modal dialog contains autoform.
* [ ] Autoform contains most or all service related fields.

[2016-03-16 14:38] bajiat opened #109 "Create view and subscription for service details"
Create a template and subscription that allows building service detail  view. Refer to requirements document for details on the view.

Definition of done
---
* [x] Service detail template exists.
* [x] Template contains single service subscription.
* [x] Template contains logic to show different content based on user status.

[2016-03-16 14:40] bajiat opened #110 "Define API for services"
Create REST API endpoints for services collection (organization services publication, department services publication, single service publication).

Definition of done
---
* [x] REST routes have been added for services collection.
  * [x] organization services
  * [x] department services
  * [x] single service
* [ ] REST routes have access control.
* [x] REST routes are included in Swagger documen

[2016-03-17 07:06] brylie opened #111 "Create settings page for Swagger API"
# Swagger API settings
Swagger configuration options are currently hard-coded in the application (e.g. ` core/server/api.js
`). Allow administrators to override some or all of the Swagger settings through the user interface.

# User story
[code]

# Definition of Done

- [ ] Settings UI exists
- [ ] Settings UI has section for Swagger settings
- [ ] Swagger settings section has fields for core Swag

[2016-03-17 11:15] jykae opened #112 "Improvements for restivus-swagger"
* support query & body parameters definitions for endpoints to be able make calls through Swagger UI

[2016-03-17 11:20] jykae commented on #112
This issue was moved to apinf/restivus-swagger#1

[2016-03-17 11:20] #112 closed

[2016-03-17 12:54] #45 closed

[2016-03-18 09:56] #53 closed

[2016-03-18 11:12] #51 closed

[2016-03-18 11:13] #54 closed

[2016-03-18 11:13] #66 closed

[2016-03-18 12:02] #96 closed

[2016-03-18 12:44] bajiat opened #114 "Test permissions for different views"
Refer to the requirements documents for user permissions on views.

[2016-03-18 12:45] bajiat commented on #103
Closing as duplicate (for #104)

[2016-03-18 12:45] #103 closed

[2016-03-21 08:04] jykae commented on #110
Interested

[2016-03-21 08:30] bajiat commented on #104
@brylie Would you be interested in this?

[2016-03-21 08:32] bajiat commented on #105
@brylie Can you take this task?

[2016-03-21 08:34] bajiat commented on #109
@elnzv Could you take this task?

[2016-03-21 08:36] bajiat commented on #108
@elnzv Can you take this task as well?

[2016-03-21 08:58] #69 closed

[2016-03-21 09:01] bajiat opened #115 "Translate the available UI texts into Finnish"
Export all current UI texts into OneSky and translate the UI texts into Finnish.

[2016-03-21 09:13] bajiat opened #116 "Study the underlying technologies for Wikimedia dashboard"
Study the Wikimedia dashboard at http://korma.wmflabs.org/browser/ that shows the health of a single open source project and the underlying toolkit that have integrations with Github and other sources.

Definition of done
---
* [x] Set up an instance and try to analyse the health of apinf.io project, primarily through the data available in Github
* [ ] Set up the charting component to display the

[2016-03-21 09:24] bajiat commented on #70
Closing the issue, since we are planning to use Dimple.

[2016-03-21 09:25] #70 closed

[2016-03-21 10:27] jykae commented on #110
Depending on Services collection #104

[2016-03-21 12:53] brylie commented on #104
Opened PR with WIP.

[2016-03-22 09:07] bajiat commented on #104
@brylie open a separate issue on permissions and roles

[2016-03-22 09:17] #71 closed

[2016-03-22 09:55] brylie opened #119 "Profile route not working correctly from organization/department views"
When viewing an organization or department and clicking the 'Profile' link in the navigation menu, the user is routed to a non-existant page. This seems to be caused by a relative URL, as opposed to an absolute URL (preceeded with a '/).

This seems to be caused by an unnamed route.

# Steps to reproduce
Help developers reproduce the bug by providing specific steps to follow

1. View an organizati

[2016-03-22 09:58] #119 closed

[2016-03-22 10:44] brylie opened #122 "Add permissions to the Services collection"
Add permissions to the Services collection. Make sure the permissions match the desired outcome from the requirements document. If the requirements are not clear in the requirements document, update the document with clarifications.

# Definition of Done
- [ ] Services collection permissions exist for at least insert and update.
- [ ] Permissions check for user role, among the required roles for t

[2016-03-22 11:07] #104 closed

[2016-03-22 11:07] brylie opened #123 "Clarify options/allowed values for Service status"
In order to classify services, our schema currently contains a `status` field.
- What should be the allowed values for the status field?
- How should service status texts be internationalied?
- Where should we constrain the choices, e.g. through schema allowed values / AutoForm options?

# User story

[code]

# Definition of Done
- [ ] Service statuses options list exists
- [ ] Service status choi

[2016-03-22 11:09] brylie commented on #123
@bajiat lets clarify this issue ASAP.

[2016-03-22 14:03] kyyberi commented on #123
**What should be the allowed values for the status field?**
* Idea
* in design
* waits decision
* Proof of Concept
* Alpha
* Beta
* in production
* in retirement
* retired

**How should service status texts be internationalied?**
* use translation service :)
* English, swedish and Finnish.

**Where should we constrain the choices, e.g. through schema allowed values / AutoForm options?**
* In schem

[2016-03-22 15:44] jykae opened #124 "API config changes for new Restivus Swagger version"
Make API config changes for new restivus-swagger version.

[2016-03-23 07:19] brylie commented on #123
If we constrain the choices at the schema level, each option needs a corresponding machine key. E.g.

- idea
- design
- deciding
- development
- proofOfConcept
- alpha
- beta
- production
- sunset
- retired

[2016-03-23 09:18] kyyberi commented on #123
Yes, that sounds valid

[2016-03-23 11:48] brylie commented on #116
I have looked into the utility library related to the dashboard sites. The utility is called Perceval, and runs via command line. I have generated two Perceval output files based on our project, first by analyzing our Github metadata and second by analyzing out git repository directly:

* [dipor-dashboard github-output.txt](https://github.com/Digipalvelutehdas/dipor-dashboard/files/185890/github-o

[2016-03-23 13:28] brylie commented on #116
I opened a [support request](https://github.com/grimoirelab/perceval/issues/28) asking for assistance parsing the outputted files to valid JSON.

[2016-03-23 15:20] jykae opened #127 "Boolean Meteor.settings variable to turn off test runners in development"
Additional test runner windows are annoying, and we should not need to run in production mode while developing.

[2016-03-23 21:37] #123 closed

[2016-03-23 22:38] frenchbread commented on #106
I've added basic service view. How service path (url) supposed to look like in an open question. Since service schema contains reference only to parent department (without reference to organiaztion), it's quite problematic to fire up breadcrumb for service view. Would be cool to have some help here :)

So far, looks like this:
![screen shot 2016-03-24 at 00 31 42](https://cloud.githubusercontent.c

[2016-03-24 09:26] bajiat opened #128 "Set up affinity diagram"
Gather most important feedback from the interviewed target users / clients into an affinity diagram. Extract user goals from affinity diagram.

[2016-03-24 09:28] bajiat opened #129 "Plan usability tests for current dashboard deployment"
Plan and schedule usability test session for dashboard deployed in [Dipor dashboard](https://dashboard.digipalvelutehdas.fi/).

[2016-03-24 09:43] brylie opened #130 "Add permission checks to organization page"
Make sure the organization view shows properly for all different user roles. For this purpose, you will need to familiarize yourself with the roles and permissions in the [requirements document](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/docs/requirements.md)

Definition of done
---
* [ ] Read the requirements document organization view section.
  * [ ] Add user roles improv

[2016-03-24 15:06] Alapan commented on #130
Currently, in the single [organization template](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/organizations/client/single/single.html), there are calls being made to the `organization` helper, and the `currentUserIsAdmin` and `currentUserIsMember` collection helpers are being called. The data is being displayed depending on whether the user is logged in or not.

[2016-03-28 06:35] #124 closed

[2016-03-30 07:31] brylie opened #132 "Upgrade to Meteor 1.3"
Meteor 1.3 was recently released. Run the `meteor update` command to update Meteor core as well as other project packages. Test the branch, and merge if things continue to work.

[2016-03-30 07:41] brylie opened #135 "sanjo:karma error after 1.3 upgrade"
After the Meteor 1.3 upgrade, the following error appears in the console after startup:

[code]

[2016-03-30 07:45] brylie opened #136 "Add 404 template and route rule"
When visiting a page/route that does not exist, our application currently renders a blank screen. We should display a message to the user, and help them navigate back to the main pages.

[2016-03-30 08:22] brylie opened #137 "Add active class to navigation menu when route is active"
he navigation menu should highlight the active tab.

[2016-03-30 12:56] preriasusi opened #138 "Adapt KAPA style"

[2016-03-30 12:57] bajiat opened #139 "Integrate Admin LTE package"
Integrate the Admin LTE package into Dashboard project. Use Admin LTE for the base layout and front page.

Definition of done
---
* [x] Admin LTE package is added to the project.
* [x] Base layout uses Admin LTE semantics.
* [x] Front page uses Admin LTE semantics.

[2016-03-30 12:59] bajiat opened #140 "Integrate DC.JS package"
Integrate the DC.JS package to the dashboard project. Create a view to visualize issues in multidimensional display.

[2016-03-30 13:01] bajiat opened #141 "Create a collection for service data sources"
Create collection, schema and publication(s) for service data sources. This is required for creating a service / product owner dashboard.

Definition of done
---
* [ ] Collection for service data sources exists.
* [ ] Create schema fields for Github data source(s), i.e. username and repository. (User name can be a Github organization.)
* [ ] Publication for service data sources exists.

[2016-03-30 13:04] bajiat opened #142 "Create a (sub)view(s) for charting service data"
Using Admin LTE semantics, create (sub)view(s) for service data visualizations for the service owner dashboard. Create the required subscription(s) as well.

Definition of done
---
* [ ] Place statistics from [Github repository statistics](https://developer.github.com/v3/repos/statistics) into the subview.
  * [ ] [Contributors](https://developer.github.com/v3/repos/statistics/#get-contributors-li

[2016-03-30 13:05] bajiat opened #143 "Define API for service data"
Define the API endpoints for service data from Github.

[2016-03-30 13:08] bajiat opened #144 "Create a scheduling function for getting commit data for a service"
Create method(s) for fetching data from Github. Add a schedule to run the method periodically. As a minimum, we need the following data: commits.

Definition of done
---
* [x] Method exists for fetching all commit data from Github repository.
* [x] Method takes as a argument a specified timeframe.
* [x] When a service is added to portal, schedule starts to run periodically after initial pull.

[2016-03-30 13:09] bajiat opened #145 "Create wireframes for data visualizations"
Create wireframes for data visualizations.

Optionally, organize a workshop for designing or reviewing wireframes.

[2016-03-30 13:12] bajiat opened #146 "Translate the sprint 3 texts into Finnish"
Export the latest i18n file into OneSky and translate the UI texts added in sprint 3 into Finnish. Import the translations back to project.

Definition of done
---
* [ ] i18n file containing sprint 3 UI texts is added to OneSky.
* [ ] All UI texts available in OneSky are translated into Finnish.
* [ ] All UI texts available in OneSky are proofread by another translator.
* [ ] All UI texts translat

[2016-03-30 13:13] bajiat opened #147 "Create language switching option"
Create the functionality that allows users to switch between UI languages.

As an end-user I want to see UI texts on my native language.

# Definition of done
- [ ] Language switcher exists in navigation menu.
- [ ] Language switcher contains languages that have been translated and imported to project.
- [ ] When user changes the language, all UI texts are changed reactively.

[2016-03-30 13:17] bajiat opened #148 "Store Git commit data for a service"
Create collection, schema and publication for the following Github commits for a service.

Blocks #144.

Definition of done
---
* [ ] Collection for Github commits exists.
* [ ] Schema for Github commits exists.
* [ ] Schema mirrors [Github API structure](https://developer.github.com/v3/repos/commits)
* [ ] When adding a Github repository to a service, all commits are pulled to the collection.
* [

[2016-03-30 13:21] bajiat opened #149 "Organize user story workshop"
Organize and facilitate a user story workshop based on affinity diagram. Outcome should be a documented list of user stories in our repository in a prioritized order.

Definition of done
---
* [ ] Schedule the workshop.
* [ ] Document the user stories in Github.

[2016-03-30 13:22] bajiat opened #150 "Create portal settings view and collection"
Create collection, schema, publication, subscription and view for portal settings, which should include as a minimum Github API key.

# Definition of done
- [x]  `Settings` collection exists
- [x] Settings schema exists
  - [x] schema contains Github API authentication field(s) (e.g. OAuth)
- [x] Settings publication exists
  - [x] publication checks for user permission (i.e. superuser) before ret

[2016-03-31 02:04] #110 closed

[2016-03-31 11:57] #116 closed

[2016-03-31 11:58] #132 closed

[2016-03-31 13:21] #115 closed

[2016-03-31 13:57] #106 closed

[2016-04-01 02:21] frenchbread opened #152 "Error message in console"
# Getting error message in console

[code]

# Steps to reproduce

1. Run the app (locally)
2. Load home page (e.g. http://localhost:3000)
3. Check the meteor console.

---
Since the log reports `sanjo:karma`, it's definitely comes from "testing" side. Wondering if I need to install some additional environment to resolve this?

**Note:** App itself does not fail when this log occurs.

[2016-04-01 09:10] brylie opened #154 "Use select menu for service status inline edit"
When editing a service status, the options should be constrained to match those allowed in the schema. E.g. "idea", "planning", "implementation", etc.

Use a select menu for the inline editing widget.

# User story

[code]

[2016-04-01 11:56] bajiat opened #155 "Store Github issue data for a service"
Create collection, schema and publication for the following Github issues for a service.

Blocks #144.

Definition of done
---
* [x] Collection for Github issues exists.
* [x] Schema for Github issues exists.
* [x] Schema mirrors [Github API structure](https://developer.github.com/v3/issues)
* [x] When adding a Github repository to a service, all issues are pulled to the collection.
* [x] Publicat

[2016-04-01 12:03] bajiat opened #156 "Create a scheduling function for getting issue data for a service"
Create method(s) for fetching issue data from Github. Add a schedule to run the method periodically.

# Goal
Make sure our local collection of Github issues stays in sync with Github as issues are added, updated, and closed. This means at any given time, our collection will have the same information as Github. E.g.

- correct details for all issues
  - open date
  - update date
  - closed date
  -

[2016-04-01 12:21] bajiat opened #157 "Organize developer meeting for handling Github data"
Organize a meeting about handling, storing, querying Github data:
* Using Github API or storing the data locally.
* Designing queries.
* Scheduling queries.

[2016-04-01 12:39] #107 closed

[2016-04-01 12:45] bajiat opened #158 "Test Dipor deployment (sprint 3)"
Go to [Dipor deployment](dashboard.digipalvelutehdas.fi) for release based on sprint 3 and test the available views.

Definition of done
---
* [x] Register into the portal
* [x] Create at least one organization
* [x] Create at least one department
* [x] Create at least one service
* [x] Test inline editing
* [x] Test member management
* [x] Report any problems as issues
  * [x] Describe the test t

[2016-04-01 12:49] bajiat opened #159 "Enable API authentication"
Determine how to allow authenticated calls through Dipor API, especially for adding, deleting.

Definition of done
---
* [ ] API users are able to make authenticated calls. For example, users with a permission can add a department to an existing organization.

[2016-04-01 12:55] bajiat opened #160 "Add Swagger UI to Dipor"
Add Swagger UI to Dipor portal UI. This enables API consumers to test the Dipor API.

[2016-04-01 12:58] bajiat opened #161 "Make a Dipor release based on sprint 3"
Make the 0.3.0 release for Dipor dashboard.

Definition of done
---
* [ ] Merge sprint 3 changes to develop.
* [ ] Merge develop to master.
* [ ] Create release notes.
* [ ] Make a release from master.
* [ ] Announce the release in Slack.

[2016-04-01 12:59] bajiat opened #162 "Deploy Dipor release based on sprint 3"
Definition of done
---
* [x] Once sprint 3 release has been made, run deployment script / command.
* [x] Announce the deployment in Slack

[2016-04-03 16:53] kyyberi commented on #57
Lets use eduuni. Administratively all should be clear, just integrate. This is important to convince superiors

[2016-04-03 16:55] kyyberi commented on #56
Upload to github repo so that it goes to dipor server in deployment. DIPOR is the one.

[2016-04-04 06:57] #56 closed

[2016-04-04 07:25] brylie commented on #149
@Nazarah are you interested in facilitating the user story workshop?

[2016-04-04 07:33] brylie commented on #155
@frenchbread would you please consider taking the lead on this task?

[2016-04-04 07:43] brylie commented on #145
@Nazarah would you consider taking this task?

[2016-04-04 07:45] brylie commented on #145
@Nazarah would you consider taking this task? @elnzv  may be available to co-pilot.

[2016-04-04 07:48] brylie commented on #142
@frenchbread would you consider taking this task?

[2016-04-04 08:24] frenchbread commented on #155
Yes.

[2016-04-04 08:24] frenchbread commented on #142
I am on it!

[2016-04-04 08:35] brylie commented on #155
@frenchbread,  would you like to meet to discuss your sprint tasks?

[2016-04-04 08:45] frenchbread commented on #155
@brylie No, It's ok. I'll stick to definition of done for now.

[2016-04-04 08:45] #105 closed

[2016-04-04 09:47] brylie opened #163 "Add breadcrumb navigation to service page"
The service page needs a breadcrumb navigation area similar to the organization and department views. This will help users to stay oriented while navigating the portal.

[2016-04-04 09:47] #108 closed

[2016-04-04 12:03] ashakunt commented on #158
@saralavanip please take this task.

[2016-04-04 12:27] #163 closed

[2016-04-04 12:36] bajiat commented on #158
@jykae can you add a comment here when deployment for sprint 3 release is available. Thanks!

[2016-04-04 12:36] #161 closed

[2016-04-04 13:41] jykae commented on #162
Done https://dashboard.digipalvelutehdas.fi, and reported to Slack #dipor channel

[2016-04-04 13:41] #162 closed

[2016-04-05 07:58] saralavanip commented on #158
Testing in progress.
- Version 0.3.0 :  https://dashboard.digipalvelutehdas.fi

[2016-04-05 08:22] #146 closed

[2016-04-05 08:23] bajiat commented on #146
@preriasusi I quess this also contained the new sprint 3 texts as well.

[2016-04-05 09:18] saralavanip opened #167 "Input field invisible while editing description of an organization"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi
2.Login
3.Click on 'Create Organization'
4.Enter the details:
    - Enter valid name
    - Enter description
5.Click on 'Create'
6.Go to Organization view and select the organization added above
7.Click on 'Edit'
8.Delete the text in description field

Findings:
- Input field for adding description is invisible
- Default input text 'type your

[2016-04-05 09:55] saralavanip opened #168 "User unable to edit 'Service' status"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi
2.Login
3.Create Organization
4.Go to Organization view and select the organization added above
5.Create Department
6.Select the department added above
7.Add Service
8.Click on service added above
9.Click on 'Edit'  and update service status

Result: User not allowed to edit service status

Operating system:
- Linux : Ubuntu 14.04.03 LTS (Trus

[2016-04-05 10:10] frenchbread commented on #167
Created hotfix #169. Please confirm the bug is resolved. Related branch for testing - `hotfix/edit-organiaztion-description-field`

[2016-04-05 10:12] frenchbread commented on #168
Related issue - #154

[2016-04-05 11:29] #167 closed

[2016-04-05 11:34] brylie commented on #142
@frenchbread if you haven't already, check out the [node-github](https://www.npmjs.com/package/node-github) package to get commits over time for a repository.

We have a method in our Github Viewer project, called `getCommitActivity`. The following code will suffice for a line or bar graph of commits over time:

[code]

The activity data is structured as so:

[code]

[2016-04-05 11:38] brylie commented on #142
Also, please consider using a chart from the [NVD3 library](http://nvd3-community.github.io/nvd3/examples/site.html). After exploring Dimple, Chart.js, DC.js, and NVD3, we concluded that NVD3 gave us the right combination of features and usability for the current phase of this project.

[2016-04-05 11:46] saralavanip commented on #158
Please find the reported issues below:

https://github.com/Digipalvelutehdas/dipor-dashboard/issues/167
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/168

[2016-04-05 12:51] frenchbread commented on #142
Ok, thanks for info!

[2016-04-05 13:40] bajiat commented on #156
@Alapan @ashakunt Could this be an interesting task for Aseem since @jykae is not available for this task? There is an example in Apinf about scheduling database updates from Umbrella.

[2016-04-05 13:40] bajiat commented on #144
@Alapan @ashakunt Could this be an interesting task for Aseem since @jykae is not available for this task?

[2016-04-06 07:39] saralavanip opened #171 "Deleting and saving organization description fails"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi
2.Login
3.Click on 'Create Organization'
4. Enter the details:
    - Enter valid name
    - Enter description

5.Click on 'Create'
6.Go to Organization view and select the organization added above
7.Click on 'Edit'
8.Select and delete the whole text in description field
9.Click on 'Save'
10.Go to organization view

Findings:
- The deleted desc

[2016-04-06 07:39] bajiat commented on #156
@Alapan @ashakunt Comment from @brylie: It is enough for now, if the scheduling function just posts/echos "hello world" and service name for each available service instead of fetching data from Github, Assign either #156 or #144 to yourself, no need to work on both at this stage, because the is blocked by other data fetching tasks. We would also like to suggest task #168 to you.

[2016-04-06 07:40] bajiat commented on #171
@Alapan Could you take this bug?

[2016-04-06 07:41] bajiat commented on #168
@alapan Could you take this task?

[2016-04-06 08:16] ashakunt commented on #156
Does this scheduling function have to be running offline? Or only when anyone is logged in (e.g. fetch only the data that is interesting to me?).

In the second case, IMHO, setInterval can be used to fetch data.

@brylie what option are we looking at here?

[2016-04-06 08:29] bajiat opened #172 "Create wireframes for views"
Create wireframes for organization, department, service view and default views with annotations indicating user permissions. Check also if there are missing views.

Refer to
* [ requirements document](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/docs/requirements.md)
* [LoFi wireframes](https://github.com/Digipalvelutehdas/dipor-dashboard/tree/develop/docs/Design/LoFiPNGs)

De

[2016-04-06 08:34] brylie opened #173 "Initialize NPM in our project root"
Since the release of Meteor 1.3, we can now integrate NPM packages directly into our project. To do this, we need to initialize a `package.json` file in our project. Subsequent tasks will include removing Atmosphere wrapper packages in favor of using NPM packages.

[2016-04-06 08:35] saralavanip opened #174 "Delete and save department description fails"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi
2.Login
3.Create Organization
4.Go to Organization view and select the organization added above
5.Create Department
    - Enter Name
    - Enter Description
    - Click on 'Create'

6.Select the department added above
7.Click on 'Edit'
8.Select whole text and delete
9.Click on 'Save'
10.Go to organization view
11.Select the department added ab

[2016-04-06 08:53] brylie commented on #156
It probably needs to run on the server, so will not be tied to a user session.

[2016-04-06 08:54] brylie commented on #156
There is a Meteor package called [Synced Cron](https://github.com/percolatestudio/meteor-synced-cron) that is a good candidate for this feature.

[2016-04-06 08:55] brylie commented on #156
In general, Meteor will push available data to users in real-time, via DDP. This task is related to fetching data from a REST API periodically, so that it will automatically propagate to users.

[2016-04-06 08:59] saralavanip opened #176 "Deleting and saving 'Service' description fails"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

  - Enter Name
  -  Enter description
  -  Select 'status' from top down menu
  -  Enter version
  -  Click on 'Create'

8.Go to department view and select the service added above
9.

[2016-04-06 09:41] brylie opened #177 "Add UI for entering service data integrations"
As a follow-up task for #141 (collection and schema), create a UI allowing service owners to enter service integrations.

[2016-04-06 10:17] brylie opened #178 "Configure BitHound to monitor project commits"
If desirable, configure the BitHound service to review pull requests for lint, etc.

https://www.bithound.io/github/Digipalvelutehdas/dipor-dashboard

[2016-04-06 11:06] saralavanip opened #179 "Input field invisible while editing description of 'Department'"
Steps:
1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

- Enter Name

- Enter Description

- Click on 'Create'

6.Select the department added above

7.Click on 'Edit'

8.Select whole text in the description field and delete

Findings:

- Input field for adding description is invis

[2016-04-06 11:10] frenchbread commented on #179
Hotfix #169 should fix that as well.

[2016-04-06 11:14] saralavanip opened #180 "Input field invisible while editing description of 'Service'"
Steps:
1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Select the department added above

7.Add Service

- Enter Name
- Enter description
- Select 'status' from top down menu
- Enter version
- Click on 'Create'

8.Go to department view and select the service added above

9.Clic

[2016-04-06 11:40] Alapan commented on #168
Started work on this issue.

[2016-04-06 12:44] saralavanip opened #181 "Edit and save 'Service' description in different language, other than English fails in IE"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

  -  Enter Name
  -  Enter description (in any language eg. English / Suomi)
  -  Select 'status' from top down menu
  -  Enter version
  -  Click on 'Create'

8.Go to department vie

[2016-04-07 08:12] #128 closed

[2016-04-07 10:15] #157 closed

[2016-04-07 11:36] brylie commented on #181
@saralavanip would you please provide an example of the text you used for this test?

[2016-04-07 12:18] saralavanip commented on #181
@brylie , please find the example text added in the test description.

[2016-04-07 12:39] brylie commented on #181
Are there any unicode characters in the text? E.g. ä, ö, etc?

[2016-04-07 12:43] brylie commented on #181
@elnzv can you please test this issue from IE on your local environment?

[2016-04-07 12:44] brylie commented on #181
@saralavanip from what source are you copying the text? What is the character encoding?

[2016-04-07 12:48] saralavanip commented on #181
Yes, there were unicode characters in the sample texts I used for testing. I also tested with texts in Chinese language ( from google translator) , French, Suomi sample texts from source: https://lipsum.com

[2016-04-07 12:53] brylie opened #183 "On department page, move service list-group-item markup to anchor tag"
Currently, service list group items contain a sub-element for the anchor. The link is rendering as blue text, as it is the browser default. Move the `list-group-item` class to the anchor tag, to match other views such as the singleOrganization view.

[2016-04-07 13:57] Alapan commented on #168
@brylie I added an X-editable dropdown, but haven't yet figured out how to populate the dropdown options with the allowed values from the Services schema.

[2016-04-07 14:38] frenchbread commented on #168
@Alapan Here is probably not the best approach but one that works:

[code]

[2016-04-08 07:54] Alapan commented on #168
@frenchbread Thank you, that works!!

[2016-04-08 08:31] brylie opened #184 "Add project metrics list to documentation"
Based on discussion with @Nazarah, we identified a list of project metrics. These metrics can be used to determine the 'health' or activity of a given project.

Add the project metrics list to our documentation repository.

[2016-04-08 09:10] brylie opened #187 "Indicate required fields on modal dialogues"
Users are not currently aware of required fields until submitting the form. Provide a visual indicator next to each required field.

[2016-04-08 09:12] brylie opened #188 "Consider whether/how to verify user emails"
The platform does not currently verify user emails. Determine whether it is useful to verify user emails, and what work is involved.

[2016-04-08 09:18] brylie opened #189 "Consider changing the title of the front page"
When visiting the front page, the title currently reads "Welcome to Dipor". Consider changing the front page title, any sub-headings, and introductory text.

[2016-04-08 09:31] brylie opened #190 "Add feature to allow organization logo upload"
Our requirements document indicates that organizations will have a logo. Design a UI for adding organization logos and implement the underlying logic/storage.

As a superuser or organization administrator, I want to upload organization logo image so that I can manage my organization's branding.

# Definition of done
- [x] There is an upload UI for organization logo.
  - [x] UI is accessible for su

[2016-04-08 10:03] brylie opened #191 "Ensure chart color palette is accessible for colorblind people"
In order to ensure that our data visualizations are accessible, we need to consider what colors to use. As a basis for this research, start with the [D3.js 10 categorical color palette(s)](http://bl.ocks.org/aaizemberg/78bd3dade9593896a59d), and determine the accessibility of colors therein.

The D3.js category10 color values, with made up labels, are:

- "blue": #1f77b4
- "orange": #ff7f0e
- "gre

[2016-04-08 10:05] Alapan commented on #156
Started work on it today.

[2016-04-08 10:08] brylie commented on #191
I ran a color test on the D3.js 10 color palette using TinyColor, which is already available in our project. Here is some code to reproduce the test:

[code]

[2016-04-08 10:53] brylie opened #192 "Add UI widget for toggling Service visibility"
When creating or viewing a service, a Product Owner might need to toggle the service visibility. E.g. public/private. Design and add a UI element to toggle the service visibility, at least in two places:

- Add Service form
- View Service page

Also, perform a check on the route to check whether user is authorized to view the service or not. If not authorized, show 403 template.

Blocks #297.

# D

[2016-04-08 10:55] brylie opened #193 "Add description about service status to Add Service form"
When adding a service, the Product Owner needs to choose a service status. Add help text, e.g. in a 'question mark tooltip', describing the definition of each service status.

[2016-04-08 10:58] brylie opened #194 "Add share button to service page"
Add a share button to platform pages, such as the Service page. Use an existing 'share' library, so that we do not need custom development hours for this.

# Resources
- [CarrotShare](https://sharebutton.co/) is an elegant, privacy-protecting share button with supports for multiple social media

# Definition of done
- [ ] CarrotShare button is added to Service page.
- [ ] When sharing via CarrotSh

[2016-04-08 11:07] brylie opened #195 "Design and add comment/feedback feature for Services"
Part of the requirements document describes a comment feature:

Design a comment feature for the Service view, including any questions around comment input, management, display, and moderation that may arise.

[2016-04-08 11:54] brylie opened #196 "Add service status as label to each service in Department view"
In order for people to quickly see service statuses, we can add the status as a label to the Services list in the Department view.

# Definition of done
- [ ] Service status label appears next to each item in Services block in Department.
- [ ] Consider grouping and/or sorting services by status label

[2016-04-08 14:20] Alapan commented on #156
I have written a method which runs the Github API call as a cron job. The method seems to work properly on my Meteor shell and browser console. On the client side, in `Autoform.onSuccess()`, I have placed a commented-out call to that method. The job, for now, is scheduled to run every 2 hours.

[2016-04-08 14:54] #141 closed

[2016-04-08 14:54] #177 closed

[2016-04-09 09:05] #148 closed

[2016-04-11 07:48] Nazarah opened #198 "Add a feedback/comment field for gathering information about users' feelings about using the services"
# Feature title
Feedback Field for Users.

# User story

[code]

# Wireframe
Include a monochrome diagram of the desired design
![commnet](https://cloud.githubusercontent.com/assets/17976243/14419735/826a7c84-ffd0-11e5-9f0a-d95f518d8112.png)

# Definition of Done
- [ ] Comment field appears in every page of the service (Text area + post button)
- [ ] Comments provided by other users (anonymous/reg

[2016-04-11 09:23] #168 closed

[2016-04-11 12:10] brylie opened #199 "Add initial personas document to documentation repository"
In order to focus our development efforts on fulfilling human needs, we can create one or more user personas. These personas will be related to user stories, and can be used as the basis for prioritizing development tasks.

[2016-04-12 08:11] bajiat commented on #172
@elnzv Hi, what is the status of the wireframes? We would like to use the wireframes as a source of info for sprint planning.

[2016-04-12 08:13] bajiat commented on #142
@frenchbread What is the status of the task?

[2016-04-12 08:16] bajiat commented on #155
@frenchbread What is the status? Did you know that Alapan is working on a related task on syncing / scheduling data Github issues?

[2016-04-12 08:19] #199 closed

[2016-04-12 08:22] #184 closed

[2016-04-12 10:03] brylie commented on #172
Added initial wireframe for Organizations template:

![Organizations template](https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/feature/ui-wireframes/docs/Design/wireframes/organizations.png)

Opened PR #201 (work-in-progress)

[2016-04-12 10:41] #109 closed

[2016-04-12 11:47] frenchbread commented on #155
Related RP - #202. Branch: [`feature/github-issue-data-for-service`](https://github.com/Digipalvelutehdas/dipor-dashboard/tree/feature/github-issue-data-for-service)

[2016-04-12 16:01] frenchbread commented on #155
#202  Ready for review. @Digipalvelutehdas/dipor-team

[2016-04-12 16:10] frenchbread commented on #142
@bajiat Have not started it yet.

[2016-04-13 08:23] brylie commented on #142
@frenchbread please merge your work in progress with the work Illya and I did over the weekend. The only remaining task is to show contributors.

[2016-04-13 08:24] brylie commented on #156
@Alapan what is the status of this task? Would you like to meet today in Rocket.Chat?

[2016-04-13 10:50] brylie commented on #142
@frenchbread, @elnzv and I made a Github commits over time chart during the weekend hack-day. Please add your efforts to that branch. I opened a pull request (#204) for your convenience.

[2016-04-13 11:08] bajiat opened #205 "Allow only superuser(s) to add organizations"
The requirements document indicates that, initially at least, only superusers should be allowed to add organizations. In our code, the superuser is given the `admin` role. Add a template helper and collection permission check, ensuring that only `admin` users can add organization(s).

# Definition of done
- [x] "Create Organization" button is only visible for administrative users (`admin` role)
-

[2016-04-13 11:19] bajiat opened #206 "Create chart for opened and closed issues"
Create a cumulative line chart to visualize both open and closed issues over time.
Based on #156.

@Nazarah will co-pilot

[2016-04-13 11:22] bajiat opened #207 "Create card UI(s) showing service/project community"
For each service, there should be a card or table column that summarizes the community at a given point. It should contain:
- [ ] [collaborators](http://mikedeboer.github.io/node-github/#repos.prototype.getCollaborators),
- [ ] [stargazers](http://mikedeboer.github.io/node-github/#repos.prototype.getStarred),
- [ ] [watchers](http://mikedeboer.github.io/node-github/#repos.prototype.getWatched)
- [

[2016-04-13 11:26] bajiat opened #208 "Enhance organization views"
This task covers both all organizations view and single organization view. Check the wireframe for organization views and add missing fields and permissions.

@Nazarah will co-pilot

[2016-04-13 11:29] bajiat opened #209 "Enhance department views"
This task covers (both all organization departments view and) single department view. Check the wireframe for department views and add missing fields and permissions.

[2016-04-13 11:30] bajiat opened #210 "Enhance service views"
This task single service views. Check the wireframe for service views and add missing fields and permissions.

[2016-04-13 11:33] bajiat opened #211 "Create organization catalog"
Refer to organizations catalog wireframe.

[2016-04-13 12:17] brylie opened #212 "Determine how to include NVD3 CSS styles in project"
We are currently including NVD3 from NPM. The NVD3 source is in our `node_modules` directory, including the CSS styles.

Determine how to load CSS styles from the NVD3 NPM package, so that chart tooltips, etc. will render as expected.

[2016-04-13 12:57] brylie opened #213 "Moving mouse between NVD3 charts causes chart mis-alignment when tooltips are enabled"
On the single service view, each Github data source will display a chart of commits over time. When moving the mouse between the charts, both charts will "shift" to the right, as soon as the tooltip activates. Determine what event/code is causing the charts to shift and fix it, so that we can show tooltips on mouseover without breaking the chart layout.

[2016-04-13 19:36] frenchbread commented on #142
I added contributors list to a table. Yet, it gives an error. Will fix it tomorrow :)

[2016-04-14 08:16] brylie opened #214 "Create function to add OAuth token to Github requests"
The NPM Github library can make authenticated API requests, using an OAuth token.  This allows the platform to make more than 60 requests per hour.

As a follow up to the settings page feature (#150), pass the OAuth token to the Github object when the token is available.

# Definition of done
- [x] `Github` initialization checks for OAuth token passed in via `--settings` flag
- [x] If OAuth token

[2016-04-14 09:57] #139 closed

[2016-04-14 11:49] brylie opened #215 "Add images from wireframe brainstorming session"
We made several sketches on the whiteboard during our wireframing session. Upload those sketches to our documentation folder.

[2016-04-14 12:06] brylie commented on #215
test

[2016-04-14 12:08] brylie commented on #215
test

[2016-04-14 12:09] brylie commented on #215
Lets see...

[2016-04-14 12:50] #149 closed

[2016-04-14 21:37] #215 closed

[2016-04-15 07:39] #172 closed

[2016-04-15 08:28] Nazarah opened #217 "Display services that are made public by PO and link to the service page for anonymous users"
# Feature title
Briefly describe feature

# User story

[code]

# Wireframe
Include a monochrome diagram of the desired design

# Definition of Done
- [ ] Display of Service Names (made public) according to filtered data
- [ ] Link to Service Page

[2016-04-15 09:43] brylie opened #218 "Include basic development environment setup instructions in README"
[code]

[2016-04-15 09:53] #218 closed

[2016-04-15 10:33] frenchbread commented on #142
Contributors feature is implemented. Please review #204

[2016-04-15 10:34] brylie opened #221 "Create a chart showing issue counts by tag for a given repository"
[code]

[2016-04-15 10:51] #155 closed

[2016-04-15 10:52] brylie opened #222 "Test Dipor deployment (sprint 4)"

[2016-04-15 10:54] brylie opened #223 "Add user management UI"
Create a user interface to manage platform users. Include the ability to toggle "superuser" role for individual user(s).

# Definition of done
- [x] User administration view exists
- [x] User administration view shows list of existing users
- [ ] User administration view allows toggling of *admin* role on a single user

[2016-04-15 10:56] brylie opened #224 "Add UI to manage Service Owners"
On the service page, add a UI where new Service Owners can be added to the service. Also include a button to "remove" service owner, with confirmation. This feature should only be visible and functional for product owners and above.

[2016-04-15 10:59] #212 closed

[2016-04-15 11:23] brylie opened #225 "Determine how to handle uppercase letters in user and repository names"
Github usernames are case-insensetive. However, when returning data, the username or repository seems to retain the case. In Dipor, users can enter the username and repository in any case, so the strings may not match. Determine how to handle uppercase letters in Github usernames and repositories.

[2016-04-15 11:25] brylie opened #226 "Ensure the `id` field is unique for Github issue data"
Each Github issue seems to have a unique `id` field. Ensure that our collection enforces uniqueness for the `id` field, to prevent duplicate data.

# Definition of done
- [ ] `id` field in [`GithubIssues` collection](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/integrations/github/issues/collection/collection.js#L1) has rule to ensure uniqueness

# References
- Github issues [

[2016-04-15 12:24] brylie opened #227 "Deploy 0.4 release"
After we release version 0.4, we need to deploy the release for customer feedback.

# Definition of done
- [x] 0.4 release has been deployed for customer review

[2016-04-15 12:24] brylie opened #228 "Create 0.4 release"

[2016-04-18 07:01] #142 closed

[2016-04-18 07:01] #158 closed

[2016-04-18 07:21] Nazarah opened #230 "Add visualization to show Milestones completed in each sprint"
In github Issues can be stored as Milestones.
We can think about Milestones as user stories.
As each sprint has atleast 2 milestones completed, we can show this progress via visualization in Diphor dashboard

[2016-04-18 07:24] Nazarah opened #231 "Add API to retrieve issues related to a specific milestone"
In Github, issues can be associated with a Milestones.
So this is a way to show how different issues were created, closed, what are their associated label for each milestone.
This gives a view to show the lifeline of a milestone

[2016-04-18 07:25] Nazarah opened #232 "Show visualization of Milestones and their related Issues"

[2016-04-18 07:32] brylie opened #233 "Create 0.4 release"

[2016-04-18 07:33] Nazarah commented on #210
Make sure that the graphs are resized based on the browser screen.
i.e. for larger display graphs would have increased size
for mobile and tablet display, they would appear as relevant sizes

[2016-04-18 07:35] brylie commented on #150
@elnzv would you please take this task?

[2016-04-18 07:40] brylie commented on #144
@frenchbread or @Alapan, would you please self-assign this task?

[2016-04-18 07:44] brylie commented on #211
@elnzv will you please take this task?

[2016-04-18 07:44] Nazarah commented on #206
Possibility of associating Milestones along with it.
possibility of choosing the milestones to appear or not appear. (because issues may or may not get associated with specific milestones)

[2016-04-18 07:47] brylie commented on #57
@preriasusi will check that required papers have been assigned. If possible, @jykae will look at integration via SAML2 this sprint (sprint 5).

[2016-04-18 07:48] Nazarah opened #234 "Create button for manual sync of github data"
User should be able to obtain realtime data any time s.he wishes to apart from the everyday export activity.

Provide UI (button)
Also keep a text log to include export paramters and status ( required to detect errors if export is unsuccessful)

# Definition of done
Choose at least one of these tasks:

- [x] Button exists for manual syncing of Github data for a given data source
  - Issues
  - Com

[2016-04-18 07:49] brylie commented on #208
@elnzv will you please take this task?

[2016-04-18 07:50] brylie commented on #209
@frenchbread will you please take this task?

[2016-04-18 07:54] brylie commented on #205
@Alapan will you consider taking this issue? I will provide a definition of done shortly. The task involves writing
-  a template helper to hide the "Add organization" button, and
-an `Organizations` collection allow rule to enforce the permission when inserting a new organization.

[2016-04-18 08:12] brylie commented on #225
@frenchbread will you please co-pilot this task.

[2016-04-18 08:13] brylie commented on #221
@frenchbread would you consider taking this task?

[2016-04-18 08:15] brylie commented on #234
@frenchbread, @Alapan, or @elnzv, will you please consider taking this issue?

[2016-04-18 08:19] Nazarah opened #235 "Consider the possibility of authenticating password from Diphor Dashboard"
will the authentication will be verified from Diphor or from Edu/Virtu

[2016-04-18 08:32] Alapan commented on #234
@brylie I can take this issue.

[2016-04-18 08:35] Alapan commented on #205
@brylie I would like to work on this issue.

[2016-04-18 08:49] brylie commented on #228
Closing, as duplicate of #233

[2016-04-18 08:49] #228 closed

[2016-04-18 08:51] brylie commented on #205
OK, you are assigned. Would you like to meet to discuss the requirements?

[2016-04-18 08:59] Alapan commented on #205
Yes - will we discuss it online or face-to-face?

[2016-04-18 09:00] brylie commented on #205
Online is fine. I have updated the definition of done.

[2016-04-18 09:53] brylie commented on #234
Thanks @Alapan :-)

[2016-04-18 12:26] jykae commented on #214
@elnzv FYI, server method "githubAuthenticate" can be called when Github settings are given in the Settings UI. Returns true on success, false on failure.

[2016-04-18 13:04] jykae commented on #227
https://dashboard.digipalvelutehdas.fi running v0.4.0

[2016-04-18 13:05] #227 closed

[2016-04-18 13:31] #233 closed

[2016-04-18 17:57] frenchbread commented on #144
Self-assigned.

[2016-04-18 17:59] frenchbread commented on #225
@brylie Sure.

[2016-04-18 18:05] frenchbread commented on #225
Basically we have two approaches here:
- Do not use `toLowercase()` conversion and let repo names letter be in a case they originally are
- Convert all names to lowercase and provide regex option to be able to fetch documents with no matter of case. E.g.:
[code]

[2016-04-19 08:22] elnzv commented on #205
@Alapan, I have a task #150, which includes check if user has superuser rights.
Brylie did package to make first user admin - https://atmospherejs.com/brylie/first-user-admin
We can use it in this project as well.

[2016-04-19 08:32] brylie commented on #156
@Alapan I have been reflecting on the pull request we merged yesterday. It seems like the method we used may not work to meet the goal of this task. Lets work together to make sure we are taking the right approach here.

[2016-04-19 08:33] brylie commented on #156
This task is admittedly not easy, but may be one of the more important tasks we currently have.

[2016-04-19 08:41] brylie opened #238 "Validate username and repository combination for Github data sources"
Users can currently enter fake username or repository name for Github sources on the Services page. This leads to unexpected behavior, e.g. Github returning no data for the charts.

Add a validation process to ensure Github username/repository combination is valid.

[2016-04-19 08:57] brylie opened #239 "Allow editing of Github sources on Service view"
An end-user may need to edit details about a Github source, e.g. to correct a spelling mistake. Add an 'edit' button next to each Github source, allowing an end-user to change Github details.

As an administrator or service owner I need to be able to edit Github source details so that I can correct error or change details.

# Definition of done
- [x] Edit button exists next to Github repository na

[2016-04-19 09:01] brylie commented on #156
Re-opening, based on discussion with @Alapan. Basically, we need to synchronize *all* issues from Github, but our current code only receives *open* issues. We need all issues so that we can keep track of the date they are closed.

[2016-04-19 09:07] saralavanip commented on #238
![integration_view](https://cloud.githubusercontent.com/assets/13309358/14633642/33fb2082-0627-11e6-91be-3bde2a5402eb.png)

[2016-04-19 09:18] brylie commented on #205
Lets fork that package into the Digipalvelutehdas account, so we can collaborate and add improvements.

[2016-04-19 09:54] brylie commented on #225
@frenchbread where are we using this `$regex`? Is this in the collection query?

[2016-04-19 10:02] frenchbread commented on #225
@brylie Yes. I think we sholud do it for each use of mongodb call where repo name or username is used for filtering.
For example:
[code]

[2016-04-19 10:09] brylie commented on #225
OK, good idea. I will create a working branch now.

[2016-04-19 10:17] brylie commented on #225
@frenchbread will you review PR #240?

[2016-04-19 10:29] preriasusi commented on #57
We have now manual printed in office how to connect to eDuuni. Also we have papers ready to use eDuuni.

[2016-04-19 10:30] brylie commented on #57
OK, what are the next steps? What is the time allotment for this task?

[2016-04-19 11:11] saralavanip opened #242 "Inconsistency while returning Github data for the charts"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

8.Go to department view and select the service added above

9.Click on 'Add Service'

10.Select the source type  ( eg: Github)

11.Click on 'Add'  and enter the required details

[2016-04-19 14:47] Alapan commented on #234
Is there any specific page/view on which this button has to be located?

[2016-04-20 06:41] jykae commented on #226
Side note: Meteor uses quite old Mongo version, newest is 3.2 and we have 2.6.7.

[2016-04-20 07:07] saralavanip commented on #222
Please find the reference issues below based on discussion with @brylie  .

https://github.com/Digipalvelutehdas/dipor-dashboard/issues/238
 https://github.com/Digipalvelutehdas/dipor-dashboard/issues/239

[2016-04-20 07:08] jykae opened #247 "SyncedCron throwing exception"
Happens with the latest from "develop" branch. First run succeeds, second throws exception:

[code]

[2016-04-20 07:09] saralavanip commented on #222
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/242

[2016-04-20 07:42] brylie commented on #247
It looks like the `lastJobEndTime` may not be defined when the cron runs a second time. Check the `cronHistory` findOne call.

Also, make sure the `lastJobEndTime` is specific to the current job, as there will likely be other cron jobs running. I.e. we are not going to add everything to a single cron task.

[2016-04-20 07:49] jykae commented on #57
Got the manual from @preriasusi

[2016-04-20 08:40] brylie commented on #234
@alapan or @Nazarah, where would you recommend placing the UI button?

[2016-04-20 09:13] Nazarah commented on #234
It should be added to pages, where you can glance service level statuses.

Cases:
1. For example, based on the agreed upon wireframes, if we decide to incorporate a summary of services and their status in department page, then there should be a Manual Sync Button
2. In service pages, there should be one
3. If we decide to create a customizable home page for logged in users, there should be as well

[2016-04-20 09:15] saralavanip opened #249 "Notify users while adding duplicate repositories"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

8.Go to department view and select the service added above

9.Click on 'Add Source'

10.Select the source type  ( eg: github)

11.Click on 'Add'  and enter the required details:

- U

[2016-04-20 10:16] #214 closed

[2016-04-20 10:17] saralavanip opened #250 "User/Repository names given in upper case letters returns no data for the contributors"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

8.Go to department view and select the service added above

9.Click on 'Add Source'

10.Select the source type  ( eg: github)

11.Click on 'Add'  and enter the required details:

- v

[2016-04-20 10:46] #226 closed

[2016-04-20 11:00] jykae commented on #223
Trying again with accounts-admin-ui, got issue fixed https://github.com/apinf/meteor-accounts-admin-ui-bootstrap-3/issues/1

Making new PR.

[2016-04-20 11:04] brylie commented on #234
@Nazarah what do you mean by "agreed upon wireframes"? Which wireframes? Which parts of the wireframes?

[2016-04-20 11:07] Nazarah commented on #234
I will upload 2 versions of department view today in Github.
There I have left provisions for showing brief summary of projects.
You can see there.
Agreed upon means that if we can organize a meeting, we can decide upon which design to implement or if to produce a 3rd one combined with features from both.

[2016-04-20 11:47] Alapan commented on #234
Does it make sense to have a button for each source in the integrations chart on the service pafe? That way the user knows for which source the issues and commits are being synced.

[2016-04-20 11:50] brylie commented on #234
@Alapan that is a good idea. Try to show the button only for service owners. I can help write a template helper to check whether the current user is a service owner.

[2016-04-20 11:55] #225 closed

[2016-04-20 11:56] #150 closed

[2016-04-20 12:05] #156 closed

[2016-04-20 12:09] elnzv commented on #211
@brylie could you please add definition of done?

[2016-04-20 12:24] brylie commented on #211
@elnzv please review the definition of done and wireframe.

[2016-04-20 12:32] elnzv commented on #211
@brylie, looks good. Thanks!

[2016-04-20 12:48] brylie commented on #211
Jep. Let me know if I have overlooked any crucial details. We can use the definition of done as a general goal.

[2016-04-20 12:48] brylie commented on #211
Wow, the definition of done seems to have disappeared.

[2016-04-20 12:50] jykae commented on #223
Awesome, got it working here:

<img width="1157" alt="nayttokuva 2016-04-20 kello 15 48 47" src="https://cloud.githubusercontent.com/assets/293452/14675018/8aa5e23a-070f-11e6-8ec5-a09a010e3499.png">

[2016-04-20 13:11] brylie commented on #223
Right on! :smiley:

[2016-04-20 13:20] jykae commented on #223
@brylie What do you think, is it fine to have that "toggling" admin role like it is provided by accounts-admin-ui package?

[2016-04-20 14:20] jykae commented on #247
@brylie Alrightey, not getting that anymore.. Closing. Sweet and fast fixing, cool!

[2016-04-20 14:20] #247 closed

[2016-04-21 07:33] brylie commented on #223
Yeah, that is fine.

[2016-04-21 10:29] saralavanip opened #255 "Monthly details missing in the displayed chart for commits overtime"
Steps:

1.Visit https://dashboard.digipalvelutehdas.fi

2.Login

3.Create Organization

4.Go to Organization view and select the organization added above

5.Create Department

6.Go to department view

7.Add 'Service'

8.Go to department view and select the service added above

9.Click on 'Add Source'

10.Select the source type ( eg: github)

11.Click on 'Add' and enter the required details:

  - U

[2016-04-21 12:01] brylie opened #257 "Invalid MIME type for AdminLTE style?"
I am getting the following error in the browser console:

[code]

[2016-04-21 12:59] #205 closed

[2016-04-21 13:15] jykae commented on #57
Maintaining and moving 3 Apinf packages took a bit longer today than expected.
@preriasusi Diving into this tomorrow.

[2016-04-21 14:07] Alapan commented on #234
@brylie The `serviceIntegrations` template, having the 'Sync' button I added, is being called by the [details HTML page](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/services/client/single/detail/detail.html). There, a check is being made to determine if the current user is the owner or not `{{# if service.currentUserIsOwner }}`. That is why I have not added any checks myself

[2016-04-22 08:57] #224 closed

[2016-04-22 09:00] brylie commented on #234
OK, I understand why we don't need to duplicate the check.

[2016-04-22 09:02] jykae commented on #57
Forked the best looking alternative of meteor-accounts-saml under Apinf, https://github.com/apinf/meteor-accounts-saml

This might need something, so I can make some changes if needed.

[2016-04-22 09:03] saralavanip commented on #222
Verified the resolved issues:
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/168
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/167

[2016-04-22 09:07] jykae commented on #57
Needs at least updating for Meteor 1.3 packaging format..

[2016-04-22 09:08] brylie opened #259 "Enable authentication for Github integration when saving settings form"
When editing the settings form and changing the Github authentication settings, make sure our platform authenticates with Github.

# Definition of done
* [ ] The settings UI contains the Github authentication fields used by the [githubAuthenticate()](https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/integrations/github/server/github.js#L11) server method
* [ ] When saving a Github

[2016-04-22 09:17] jykae commented on #57
Another option to try that seems to use straight @bergie passport-saml package, https://github.com/ritstudentgovernment/accounts-saml2

[2016-04-22 09:27] brylie commented on #255
@saralavanip this is a relatively small thing, but when making an ordered list in markdown, please add a space between the dot and text:

[code]

This small change will make the visual appearance of the lists more compact and easier to read, since Github will add proper HTML markup for an ordered list.

[2016-04-22 09:32] brylie commented on #255
Another simple visual improvement would be to use headings for major sections in the bug report:

[code]

Github will format those markdown hashes into HTML headers, which makes it easy to visually scan the report.

[2016-04-22 09:40] brylie commented on #255
I appreciate how thorough your bug reports are, and offer the above suggestions as only small enhancements.

I went ahead and reformatted this bug report by way of example.

[2016-04-22 10:05] saralavanip commented on #255
@brylie , Thanks for the example format.  I'll implement it.

[2016-04-22 10:28] saralavanip commented on #180
verified this resolved issue :  https://dashboard.digipalvelutehdas.fi/  v0.4.0

[2016-04-22 10:30] saralavanip commented on #179
verified this resolved issue :  https://dashboard.digipalvelutehdas.fi/  v0.4.0

[2016-04-22 10:31] jykae commented on #57
I think I go with this ritstudentgovernment version, it has less npm dependencies, and provides nicer way to handle SAML attributes.

[2016-04-22 11:18] jykae commented on #57
Looked through Rocket Chat source for SAML, they use steffo meteor-accounts-saml version, I test that better.. It is better integrated to meteor accounts, though attribute-map handling looks nice in accounts-saml2.

[2016-04-22 11:47] jykae commented on #57
Rocket Chat has made this kind of integration in addition to what the basic package provides: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/meteor-accounts-saml/saml_rocketchat.coffee

I'll need coffee to ES conversion...

[2016-04-22 13:03] #144 closed

[2016-04-22 13:32] jykae commented on #57
I stick with meteor-accounts-saml package. It has less things that need improvement.
Attribute mapping needs possibly some gentle touch.

Got redirection working with configs, fixed one minor bug of random hash generation in client side in the meteor-accounts-saml package.
Basically we need UI and configurations that I will check next week.

Going first with MPASS test. Also need some other place

[2016-04-22 13:32] nnn opened #260 "Not able to add new source"
# Short bug title
Not able to add new source

# Steps to reproduce
1. Go to organization -> department - > service
2. Add Source -> Choose github -> Enter username and repo name -> Add
3. Without reloading a page repeat step 2

# Observed behavior
Form never submits
Getting this message in server console:
[code]

# Environment
- Google Chrome Version 50.0.2661.75
- Windows 10

[2016-04-22 13:41] frenchbread opened #261 "Adding data source process freezes sometimes"
# Adding data source freezes sometimes

# Steps to reproduce

1. Select some service from the list
2. Click "Add source" button
3. Select `github` and fill org/user & repo names
4. Adding process may freeze

# Observed behavior
Logs from browser console:
[code]

[2016-04-22 13:47] frenchbread commented on #221
Should chart for this issue be represented as a "bar chart" or just a list of tags for specific repo and issues count next to it?

[2016-04-22 13:47] frenchbread commented on #260
Try pulling changes from updated `develop` branch.

[2016-04-22 14:40] brylie commented on #221
A bar chart would be nice. E.g. each bar would be a count of issues for a specific tag. That way, we can quickly see which tags have the most issues.

[2016-04-22 14:41] brylie commented on #221
@frenchbread check out the updated [NVD3 Examples site](http://nvd3-community.github.io/nvd3/examples/site.html) to find some sample code for the bar chart.

[2016-04-22 14:41] brylie commented on #221
Also, please don't make a pie chart :smiley:

[2016-04-22 14:43] frenchbread commented on #221
@brylie Ok, thanks!

[2016-04-25 10:55] brylie opened #264 "Update project dependencies to latest versions"
There are several available updates to project dependencies. Run `meteor update` to update all dependencies, and test the result.

[2016-04-26 11:26] brylie opened #267 "Exception while invoking method 'githubSyncRepoIssues': duplicate key"
On the service integrations page,when pressing the "Sync" button, I get the following error in my server console:

[code]

[2016-04-26 11:47] brylie commented on #267
This may be a false report, since I cannot duplicate after re-cloning the repository.

[2016-04-26 12:05] Alapan commented on #267
From the error description, I think there is some duplicate document in the GithubIssues collection.

[2016-04-26 12:09] #264 closed

[2016-04-26 12:18] brylie commented on #267
OK, I thought we had a step to check for existing issues, and remove then re-insert.

[2016-04-26 12:24] Alapan commented on #267
I had written that logic in another method - `githubSyncUpdatedIssues`, while working on #156. The method being called here is different - `githubSyncRepoIssues`. Here the logic seems to be - add the document if it does not exist in the collection, else do nothing.

[2016-04-26 12:25] brylie commented on #267
OK, thanks @Alapan. I cannot duplicate locally, so it may be something related to my previous local repository.

[2016-04-27 06:09] jykae commented on #57
Update: After handful of fixes, and putting up test server I am getting all attributes from MPASS Test to one "MPASS profile" object. Today I am going rewrite this function:  https://github.com/apinf/meteor-accounts-saml/blob/master/saml_server.js#L65 It is specific for each service, for how we want to handle SAML login.

Also the awesome Rocket Chat devs have rewritten it in their fork :)

[2016-04-27 08:43] Nazarah opened #270 "Service Page -> Add Source"
Give full names of each labels:
Repo -> Repository
User -> User Name / Organization Name in github

[2016-04-27 08:45] Nazarah opened #271 "Make sure correct user/organization name and repository is added"
Service-> Add source
check if username/repo combination exists in Github.
Provide error message if users provides invalid input.

[2016-04-27 08:47] Nazarah opened #272 "Add "*" beside label names which are mandatory fields"
Example: Service Name -> Add Source.
make sure this appears in all places wwhere an add functionality can take place

[2016-04-27 08:52] Nazarah opened #273 "Organizations: Change the position of Create Organizations button"
Position the button down the page title.

[2016-04-27 08:58] Nazarah opened #274 "Test Issue"
# Feature title
Briefly describe feature

# User story
Include at least one user story for any feature.
As a user I want to change status of an issue

[code]

# Wireframe
Include a monochrome diagram of the desired design

# Definition of Done
Include criteria describing what the feature will look like when completed
- [ ] Widget appears on page
- [ ] User can click on widget

**Note:** Some of th

[2016-04-27 08:59] Nazarah commented on #274
testing closing of an issue

[2016-04-27 08:59] #274 closed

[2016-04-27 09:08] Nazarah commented on #221
Consider when there are chances that  100 labels exist.
How it is going to affect the visualization?

[2016-04-27 09:11] Nazarah commented on #221
I'll add a sketch to show how the 2 rows (textual info +charts) are going to appear

[2016-04-27 09:13] Nazarah opened #275 "Visibility of Issue labels"
What type of visualization would be more suitable to represent issues categorized by labels
(widgets, bar, stack)
Also consider how to visualize an issue when it has multiple labels attached to it

[2016-04-27 09:23] Nazarah opened #276 "Add user information to indicate currently logged in user"
Add the name of the logged-in user in master layout either on top of tab bar. i.e. the navigation menu.
Refer to
 ![wireframe](https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Organizational%20View%20(Registered%20Users)/V1/OrganizationalView1.1.png)

As a user I want to be recognised, when I'm logged in so that I can easily see who I'm logged in as.

[2016-04-27 09:25] Nazarah opened #277 "show current user logged in"
Needs to appear on tab bar
Picture, last name, first name, etc.

[2016-04-27 09:27] Nazarah commented on #277
closing the issue as it is duplicate to 276

[2016-04-27 09:27] #277 closed

[2016-04-27 09:35] brylie commented on #276
@Nazarah will you please add a link to your wireframe for this enhancement?

[2016-04-27 09:47] Nazarah opened #278 "organization view for unregistered users"
In the organization catalogue, when an unregistered/non-logged in user browses, s/he should be able to see brief summary about organization information.
clicking on a widget should open a callout/balloon to show the brief summary.
the widget should be highlighted as well.

Organization Name and Logo <hard coded>
Description <optional>
Visualization items:
No. of ideas
Services in Planning
Services

[2016-04-27 11:53] #259 closed

[2016-04-27 14:43] jykae commented on #57
Lots of integrations work and cleaning when bumped to new error after meteor upgrades https://github.com/arunoda/meteor-up/issues/929 *sigh*

[2016-04-27 14:44] jykae commented on #57
Got to check it tomorrow, though..

[2016-04-28 07:13] brylie commented on #57
OK, one thing is to make sure we can run the platform without the SAML configuration. I.e. when no SAML configuration is available:

- the platform should run and function normally
- SAML login button(s)/template(s) should not render

[2016-04-28 08:13] Nazarah opened #281 "Create a script for auto generating organizations, departments, services and github sources so they can be automatically created during production deployment"
ask Jarkko to provide with legitimate information.

[2016-04-28 08:21] Nazarah opened #282 "For Manual Sync, Add a log file indicating status of the sync procedure"
Should contain environment variable information and states.
this is needed to check the system status to identify if and why a sync had failed

[2016-04-28 08:23] Nazarah opened #283 "Add info button to show helpful texts to guide users throughout the dashboards"
Need to discuss with devs as well for possible areas to keep them
I will provide with the information text

[2016-04-28 10:26] bajiat opened #285 "Remove organization and department members"
As a superuser, organization administrator or department administrator, I want to add and remove department members.

# Definition of done
## Department members
- [ ] Superuser can add and remove department members globally.
- [ ] Organization administrators can add and remove department members only inside their organization.
- [ ] Department administrators can add and remove department members o

[2016-04-28 10:27] bajiat opened #286 "Add and remove department administrators"
As a superuser, organization administrator or department administrator, I want to add and remove department administrators.

# Definition of done
- [ ] Superuser can add and remove department administrators globally.
- [ ] Organization administrators can add and remove department administrators only inside their organization.
- [ ] Department administrators can add and remove department administra

[2016-04-28 10:28] bajiat opened #287 "Allow product owner to define whether service is public or private"

[2016-04-28 10:39] #145 closed

[2016-04-28 10:39] bajiat opened #288 "Add a search field and a view for showing results"
According to the requirements document, Default view for anonymous user should contain a "search view, in which you can search for services. Search results displayed as the newest public services in development phase. PO decides whether services are public or not. Link to the service view.

[2016-04-28 10:42] bajiat opened #289 "Include organization catalog to landing page"
All organizations catalog can be viewed in the landing page. Include counts of services by status for each organization.

# Wireframe(s)
![wireframe](https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Misc%20GUIs/Organization%20Texts%20(Landing%20Page).png)

# Definition of done
- [ ] All organization catalog views is included in landing page.

[2016-04-28 10:56] bajiat opened #290 "Sprint 5 and 6 Finnish translations"
Export the latest i18n file into OneSky and translate the UI texts added in sprints 5 and 6 into Finnish. Import the translations back to project.

Definition of done
---
* [ ] i18n file containing  UI texts is added to OneSky.
* [ ] All UI texts available in OneSky are translated into Finnish.
* [ ] All UI texts available in OneSky are proofread by another translator.
* [ ] All UI texts translate

[2016-04-28 11:03] bajiat commented on #136
The template and the rule already exist. Closing the issue.

[2016-04-28 11:03] #136 closed

[2016-04-28 11:03] bajiat commented on #287
Closing as duplicate.

[2016-04-28 11:03] #287 closed

[2016-04-28 11:15] bajiat opened #291 "Visualization for count closed and open issues"
For a given repository, display counts open vs. closed issues as a visualization.

Refer to #7 in Github viewer: ![screenshot](https://cloud.githubusercontent.com/assets/293452/14116264/80d4dd58-f5e7-11e5-852a-5318db9e64c5.png)

# Definition of done
- [ ] Service page displays current count for open and closed issues in each data source. Optionally, display "doughnut" or bar chart.

[2016-04-28 11:22] bajiat commented on #191
Has been tested and can be closed.

[2016-04-28 11:22] #191 closed

[2016-04-28 11:23] preriasusi commented on #159
According to specification no need for Dipor API authentication. Confirmed form customer. Can be removed.

[2016-04-28 11:28] bajiat commented on #154
This is already implemented. Closing the issue.

[2016-04-28 11:28] #154 closed

[2016-04-28 11:40] bajiat opened #292 "Enhance insert and update permissions"
Check the insert and update permissions for departments and services. Specifically, ensure that a superuser can add and update anything. Ensure that only superusers, organization and department administrators can add services.

As a superuser, I need to be able to edit any information in the system so that I can support organization/department administrators and other users.

# Definition of done

[2016-04-28 11:42] bajiat opened #293 "Sprint 5 deployment testing"
Go to [Dipor deployment](dashboard.digipalvelutehdas.fi) for release based on sprint 5 and test the available views. Check the sprint 5 release note to see what is new and changed.

Definition of done
---
* [x] Report any problems as issues
  * [x] Describe the test to reproduce the problem
  * [x] List all created issues as a comment to this task

[2016-04-28 11:53] bajiat opened #294 "Add new page / view for individual Github integration"
One service project may have several Github repositories associated to it. Provide an option for the use to see also details for a single repository.

[2016-04-28 12:02] #211 closed

[2016-04-28 12:35] #223 closed

[2016-04-29 06:16] #234 closed

[2016-04-29 10:32] bajiat opened #295 "Fix duplicate text of Service status"
If PO or superuser edits the service status and saves the change, the text for status gets duplicated, e.g. developmentdevelopment.

# Definition of done
- [ ] When saving updated service status, status text appears only once in service header.

[2016-04-29 10:52] bajiat opened #296 "Add instructions on creating personal access token"

[2016-04-29 12:03] bajiat commented on #288
@kyyberi Is this required for MVP?

[2016-04-29 12:25] bajiat opened #297 "Enhance view permissions"
Make sure that all users (anonymous, logged-in, logged-in organization members and logged-in department members can view and navigate to public services.

Make sure that only logged-in organization and department members can view and navigate to the private services per organization.

Blocked by #192.

# Definition of done
- [x] On organization page, departments block is visible to all users.
- [x

[2016-04-29 12:44] jykae commented on #57
I probably found the root cause of certificate signature validation, xml-crypto has open issues with canonicalization that is part of the signature calculation process. This is though pretty important security feature that we should not skip. We should think and consider what to do with this. I am not able to solve that sort of cryptographic issue.

Open feature request: https://github.com/yaronn/

[2016-04-29 13:20] jykae commented on #276
interested on this one

[2016-04-29 13:27] jykae commented on #286
interested

[2016-04-29 13:28] jykae commented on #291
interested, would be good follow up

[2016-05-02 07:24] Nazarah commented on #289
consider the search based on services.
available services should be made public by respective PO

[2016-05-02 07:26] Nazarah commented on #292
consider that if Organizational Head can become Super User.
but here Organization Head in the system should be someone liek Jarkko, not his Supervisor.

[2016-05-02 07:28] Nazarah commented on #190
Ask for Jarkko to supply with legit LOGO pngs for organizaiton.
in Case a logo is not available, "No logo is available" text can appear in a rectangle"

[2016-05-02 07:30] Nazarah commented on #192
Make sure the toggle options available only when a user with PO priviledges signs in and visits the page of the service he is the PO of.

[2016-05-02 07:32] Nazarah commented on #192
about the 403, we can give a more meaningful message than 403. technical message always don't provide intuitiveness to users.

"You don't have adequate permission to view this service. Please contact Product Owner of this service to obtain the required permission."

[2016-05-02 07:33] Nazarah commented on #147
English
Suomi
Svenska (Swedish) ?????

[2016-05-02 07:34] Nazarah commented on #147
Make sure the changing option appear in top menu, rather than in user profile or settings.

[2016-05-02 07:35] Nazarah commented on #242
We also need to make sure which browser versions should be supporting the service.
specially for IE.

[2016-05-02 07:37] Nazarah commented on #286
Beside added user names, there should be remove button

[2016-05-02 07:38] Nazarah commented on #286
Also include warning POP up "Are you sure you want to remove <firstname><lastname> as Admin?"

[2016-05-02 07:38] Nazarah commented on #291
Should be for repository

[2016-05-02 07:39] Nazarah commented on #291
can you consider timing option to view show this?

[2016-05-02 07:44] Nazarah commented on #239
How about considering that when you are adding the service for the very first time, you need to be sure of the gituhub source and repository source.

[2016-05-02 07:46] Nazarah commented on #289
wish to work on the texts and I18N things

[2016-05-02 07:57] Nazarah commented on #209
I will add wireframes today

[2016-05-02 07:59] Nazarah commented on #297
Interested with wireframes

[2016-05-02 08:05] Nazarah commented on #194
I'd co pilot

[2016-05-02 08:17] elnzv commented on #286
Just as an idea, we can add a label showing if user is a superuser, instead of an additional  block showing it.

[2016-05-02 08:21] brylie opened #298 "Authenticate Github integration package on startup"
When Meteor starts, check the settings collection for the github personal identification token. If the token is available, authenticate the Github package, so that Github API calls are not limited to 60 per hour.

[2016-05-02 08:25] Nazarah opened #299 "Test: changes in charts for github repositories for modifying information in Github"
e.g. add/remove issue, etc.

[2016-05-02 08:25] bajiat opened #300 "Service page consistency and design review"

[2016-05-02 08:28] Nazarah opened #301 "Test: how information appearance changes because of modifications made on lower hierarchy"
e.g. change in organization view for modifying numerical items in department
change in department view for modifying numerical items in service page
change in service view for modifying numerical items in github

[2016-05-02 09:37] #208 closed

[2016-05-02 09:46] jykae commented on #291
@Nazarah what you mean with timing option?
We have 2 different charts, open & closed overall and  @brylie 's time series based open & closed issues chart.

[2016-05-02 10:04] elnzv commented on #260
@frenchbread, checking this with latest develop. Bug still exists.

[2016-05-02 10:06] brylie commented on #298
Found a bug when settings don't yet exist. Re-opening for fix.

[2016-05-02 10:16] #298 closed

[2016-05-02 10:16] brylie opened #304 "Add services table, or other listing, to organization page"
The 'organization' page currently contains a placeholder for related services. Create a collection helper and table to display all services related to a given organization.

[2016-05-02 10:50] bajiat commented on #222
@saralavanip Should we close this issue?

[2016-05-02 10:58] bajiat commented on #293
@saralavanip Release will probably take place only tomorrow. We will add a comment here when the release and deployment have been made.

[2016-05-02 11:02] bajiat opened #305 "Deploy Dipor release based on sprint 5"
* [x] Once sprint 5 release has been made, run deployment script / command.
* [x] Announce the deployment
  * [x] in Dipor channel in Slack
  * [x] as a comment to task #293, so that deployment testing can start

[2016-05-02 13:07] elnzv commented on #289
@Nazarah, any suggestions on landing page text?

[2016-05-02 13:34] jykae commented on #291
Used NVD3 as requested by @brylie instead of previous Chart.js lib

[2016-05-03 06:41] Nazarah commented on #190
Also consider that if we are using expand collapse panes and somehow those panes represent organizations, should we consider showing the logos there along with organization names.

[2016-05-03 07:16] Nazarah commented on #286
^ above idea sounds good.

[2016-05-03 07:19] Nazarah commented on #194
Is it possible to make the share option with one click?
with the Carrot Share, you need to click the share button in order to see the platforms you wish to share into.
So for making more visibility, I was considering the idea of making the social media icons appear in the first place rather clicking on the share button.

[2016-05-03 07:33] Nazarah commented on #196
Adding a sample wireframe in design doc. Willgive the link as soon as pull request is accepted.

[2016-05-03 07:42] bajiat commented on #147
The language options should (automatically) correspond to what are the languages available in localisation files. Currently that is only Finnish and English, Swedish is an open issue.

[2016-05-03 07:50] Nazarah commented on #289
Will be adding wireframe link as soon as pull request gets accepted.

[2016-05-03 07:52] Nazarah commented on #291
@jykae : I was considering if issues open and closed can be shown with respect to time.
But if the charts are for general information. It is fine.

[2016-05-03 07:52] Nazarah commented on #291
Also suggesting the ideas to show the open and close issues as cards/widgets.

[2016-05-03 08:15] brylie opened #310 "Heuristic evaluation of current platform"
Evaluate the current deployment based on [heuristic article]. Please include details about the chosen heuristic(s), and how they are relevant to the project.

[2016-05-03 09:14] brylie commented on #190
@elnzv what is the status of this task?

[2016-05-03 09:16] brylie commented on #289
@Nazarah PR is merged.

[2016-05-03 09:39] elnzv commented on #190
@brylie, starting working on this today.

On Tue, 3 May 2016, 12:14 Brylie Christopher Oxley, <
notifications@github.com> wrote:

--

Illya Nizyev ~ www.nzv.nz

[2016-05-03 10:13] Nazarah commented on #276
Link of the picture:
https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Settinngs/5.%20Access%20and%20PrviledgesAnyUserDefault.png

Link of Balsamiq Mockup:
https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/docs/Design/LoFiPNGs/Settinngs/5.%20Access%20and%20PrviledgesAnyUserDefault.bmml

[2016-05-03 10:20] Nazarah commented on #285
An example of the GUI:

picture:
https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Misc%20GUIs/Edit-Remove%20Members.png

Mockup:
https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Misc%20GUIs/Edit-Remove%20Members.bmml

[2016-05-03 10:30] Nazarah commented on #289
Picture:
https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Misc%20GUIs/Organization%20Texts%20(Landing%20Page).png

Mockup:
https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Misc%20GUIs/Organization%20Texts%20(Landing%20Page).bmml

[2016-05-03 11:29] Nazarah commented on #304
Version 1:
picture: https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Department%20View%20(Registered%20Users)/V1/DepartmentView1.1.png

mockup: https://raw.githubusercontent.com/Digipalvelutehdas/dipor-dashboard/develop/docs/Design/LoFiPNGs/Department%20View%20(Registered%20Users)/V1/DepartmentView1.1.bmml

Version 2:
picture: https://raw.githubuserc

[2016-05-03 11:38] bajiat opened #311 "Allow user to expand/collapse rows in services"
As a dashboard user, I want to be able to select which repositories I want to view details for so that I will not be overwhelmed by details in service view.

Either try implementing collapsible table rows or try expandable/collapsible sections.

[2016-05-03 11:44] bajiat opened #312 "Allow selecting the timeframe for commits chart"
As a product owner or other dashboard user, I want to be able to select the time I want to see commits in the commits per time chart so that I can for instance see recent status of project.

Try using for example the focus chart for either bar chart or change the chart to line chart with the focus chart.

[2016-05-03 11:51] bajiat opened #313 "Create a chart for labeled issues per time"
As a product owner, I want to be able to see progress as per project labels so that I can for instance check issues per project version.

Projects may use the Github labels for different purposes. They could for instance differentiate between product versions using labels.

Create a chart with shows issues for relevant Github labels. Options:
* allow the user to select the label per repository
* s

[2016-05-03 11:55] #206 closed

[2016-05-03 12:26] #291 closed

[2016-05-03 12:41] jykae commented on #210
For big resolution Mac screen there's lots of space to use

![nayttokuva 2016-05-03 kello 15 39 11](https://cloud.githubusercontent.com/assets/293452/14983343/54bdd19c-1145-11e6-8b5d-abeac10ec144.png)

[2016-05-03 12:48] #221 closed

[2016-05-03 13:32] jykae commented on #305
Mupx is really unstable with Meteor versions greater than 1.3. I am crashing here for MongoDB driver issues, deployment verification etc...

Arunoda Mupx backlog is full of issues like this. I am trying to downgrade and get this at least running.

[2016-05-03 13:34] jykae commented on #305
[code]

[2016-05-03 15:10] jykae commented on #305
It's crashing on startup to this all the time:

[code]

[2016-05-03 15:53] jykae commented on #305
I suspect that there's issue in our code with ensureIndex. I noticed this line in error trace:
[code]

[2016-05-03 16:03] jykae commented on #305
Development Meteor uses 2.6.7
Production mupx has installed version 3.2.6 of MongoDB

[2016-05-03 16:41] jykae commented on #305
Commented out "ensureIndex" functions, causing error, and v0.5.0 is now up and running.

[2016-05-03 16:43] jykae commented on #293
@saralavanip Version 0.5.0 running after couple of issues.

[2016-05-04 07:33] brylie commented on #286
Alright. In that case, we need to add a toggle field to the "add department member" form, and possibly create an "edit organization member" form as well.

[2016-05-04 07:56] brylie commented on #194
Yes, it is possible. Some related considerations
- how many page elements does a person need to see on the service page?
  - how would the additional color and icons affect visual prominence of other page elements?
- what is the primary goal the 'service' view is providing the end user?
  - how does each social media channel promote or detract the primary goal of the'service' page?
- how relevant

[2016-05-04 07:59] jykae opened #316 "ensureIndex throwing error in production database"
We have MongoDB 2.6.7 in development and in production 3.2.6 (mupx probably gets the latest). ensureIndex is deprecated and dropped out in 3.2. Experiment if new createIndex would work.

Reference: https://docs.mongodb.org/manual/reference/method/db.collection.ensureIndex/

[2016-05-04 08:15] #305 closed

[2016-05-04 08:47] saralavanip commented on #293
Testing in progress.

[2016-05-04 09:06] Nazarah commented on #194
1. If you are considering limiting your social media platform to 7 it is easily displayable.
More than seven can be hidden beneath a button click
2. the icons won't be taking majority portion of the page.
they are usually places within some corner and the colors areself are subdued.
So you don't need to worry about the,
3. And relevancy may differ base on what social media is the user habituated t

[2016-05-04 09:29] saralavanip opened #317 "User unable to create organization"
# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi
2. Click on Register
3. Enter valid email address
4. Enter Password
5. Repeat entering the same password as above
6. Click on Register
7. Go to 'Organizations' view

# Observed behavior
    - User unable to create organization.
    - 'Create' button missing in 'Organizations' view.

# Expected behavior
    - Super users should b

[2016-05-04 09:37] brylie commented on #194
Here are two screenshots demonstrating how the 'service' page would look with:

- a 'Share' button
- multiple button/icons for sharing channels

![dipor-serviceview-singlesharebutton](https://cloud.githubusercontent.com/assets/17307/15010483/eed85cc0-11f4-11e6-8572-51386eb412b7.png)

![dipor-serviceview-multiplesharebuttons](https://cloud.githubusercontent.com/assets/17307/15010499/f38f166e-11f4-1

[2016-05-04 09:42] brylie commented on #194
We can override styles and control the layout of the carrot share plugin, including possibly showing the icons by default. However, the overrides would go 'against' the grain of the plugin, introducing additional effort and maintenance burden. Whereas, the carrot share plugin is rather simple to use, if we just accept some of the original developers' decisions, namely clicking a single 'share' but

[2016-05-04 09:50] brylie commented on #289
@elnzv and @Nazarah, the above wireframe is now included in the task definition.

[2016-05-04 09:53] brylie commented on #317
This is by design. We were informed that only 'admin' users should be able to create organizations. Please verify that you can create an organization with an 'admin' user, e.g. the first registered user.

[2016-05-04 09:54] brylie commented on #317
@jykae please create an admin user for @saralavanip, on the deployment.

[2016-05-04 09:54] saralavanip opened #318 "Validate user email address while creating account"
# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi
2. Click on Register
3. Enter invalid email address  (eg: test123@ )
4. Enter Password
5. Repeat entering the same password as above
6. Click on Register

# Observed behavior
    Entering invalid email, shows wrong indication: input field highlighted with green 'tick' mark

# Expected behavior
    - Error to be notified to user

[2016-05-04 09:56] saralavanip commented on #317
@brylie , Thanks for the clarification.

[2016-05-04 10:00] brylie commented on #318
I opened an [upstream bug report](https://github.com/meteor-useraccounts/core/issues/675) related to this issue.

[2016-05-04 10:23] frenchbread commented on #194
A suggestion in terms of design: What about if we add social buttons to the bottom of the page? Current approach looks to messy I think.

[2016-05-04 10:30] brylie commented on #194
Alright, we could figure out alternative placements. Where specifically are you thinking @frenchbread?

[2016-05-04 10:33] frenchbread commented on #194
It's quite common approach to place social buttons between the actual footer and main container that hold content.

[2016-05-04 10:34] brylie commented on #194
Alright, perhaps the share buttons could be part of our mainLayout, so they appear site-wide then.

[2016-05-04 10:35] brylie commented on #194
I will try again with, and without, the buttons visible. This may be a good compromise, since the placement near the bottom reduces the emphasis of the buttons.

[2016-05-04 10:36] frenchbread commented on #194
But as I just realised, on the screenshots there is a "share" buttons that toggles social buttons to popup.

[2016-05-04 10:37] frenchbread commented on #194
Good point.

[2016-05-04 10:37] #289 closed

[2016-05-04 10:50] brylie opened #319 "Fix service integrations table header"
On the service integrations page, center the header text for the labels column. Also, add i18n tokens/translation string.

[2016-05-04 11:13] saralavanip commented on #295
This issue was reproducible in v0.5.0  and please find the screenshot below:

![edit_service_status_replicates](https://cloud.githubusercontent.com/assets/13309358/15012554/3e1ce03c-1202-11e6-9929-9c7f4d0ee5c8.png)

[2016-05-04 11:25] bajiat opened #321 "Add a background image to landing page"
Add a background image to landing page to the area that contains the title and description of page.

References:
* [Suomi.fi beta](https://beta.suomi.fi/fi/)
* [Apika](https://apika.digipalvelutehdas.fi/)

[2016-05-04 11:54] saralavanip opened #322 "Added service not updated in organization view"
# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi
2. Login
3. Create Organization
4. Go to Organization view and select the organization added above
5. Create Department
6. Go to department view
7. Add 'Service'
8. Go to organization view

# Observed behavior
   Available services not updated and shows 'No services found' in Organization view

# Expected behavior
   Show update

[2016-05-04 12:48] bajiat opened #323 "Add description of service to service list block"
The service block(s) on the department page and organization page should contain also description of each service.

[2016-05-04 12:51] bajiat opened #324 "Add service button to the organization page"
As a product owner/organization administrator I want to be able to add a service directly from the  organization page so that I don't have to navigate to department page to add a service.

(This would probably also mean that it is necessary to add a field for department for the service that gets added.)

[2016-05-06 08:25] #319 closed

[2016-05-06 08:34] Nazarah commented on #304
Just adding the reference to the appropriate wireframes
(2 versions)

Version1:
https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/docs/Design/LoFiPNGs/Organizational%20View%20(Registered%20Users)/V1/OrganizationalView1.1.png

https://github.com/Digipalvelutehdas/dipor-dashboard/blob/develop/docs/Design/LoFiPNGs/Organizational%20View%20(Registered%20Users)/V1/OrganizationalView1.2%2

[2016-05-06 08:38] Nazarah opened #327 "Filtering of Services according to status in Organization Page"
From reference of Issue @304

As an Organization Admin I want to have a filtering option for services so that I can view services of some specific status

Refer to D3 examples to see the filtering option
Status:
Planning
In Progress
Deployed
To Be Removed
Removed

Consider appropriate colors according to the service status

[2016-05-06 09:34] Nazarah opened #328 "Register Page: When all fields are empty and "required field" texts are visible, clicking on top menu "Register" button doesn't load the page"
# Short bug title
Clicking on Register button on top menu when all fields are empty and "field required" texts are shown doesn't reload the register page

# Steps to reproduce

1. go to https://dashboard.digipalvelutehdas.fi
2. Click on Register button on top menu
3. Click on Register button (at the bottom) without filling the fields
4. Click on Register button on top menu

# Observed behavior
Pag

[2016-05-06 09:57] Nazarah opened #329 "Users are able to register using invalid email domain"
# Short bug title
There is no way to verify if the used email address is valid.
User can register into portal using false email address

# Steps to reproduce

1. Go to https://dashboard.digipalvelutehdas.fi/
2. Click on Register (top menu)
3. provide invalid email address for registration
4. fill out all fields
5. click register (at bottom)

# Observed behavior
There is no verification if the emai

[2016-05-06 10:00] #207 closed

[2016-05-06 12:17] #276 closed

[2016-05-06 13:44] jykae commented on #292
thx for clarifying the description @brylie

[2016-05-08 06:13] Nazarah opened #331 "Service Page: No graphs showing commit activities appear on repository row"
# Short bug title
On clicking Sync button, notification of updates in committed activity appears, but no chart gets displayed.

# Steps to reproduce

1. go to https://dashboard.digipalvelutehdas.fi
2. go to Organizations >  Nazia's Test Organization >   Digipalvelutehdas >   Dipor Dashboard
3. click on Sync button

# Observed behavior
After a white, confirmation of update on committed activities a

[2016-05-08 06:36] Nazarah opened #332 "Inconsistency in no. of issue between dipor visualization and original github repository"
# Short bug title
There is mismatch in no. of open and closed issues between dipor dashboard visualization and original github repository

# Steps to reproduce

1. https://dashboard.digipalvelutehdas.fi
2. go to Organizations   Nazia's Test Organization   Digipalvelutehdas   Dipor Dashboard
3. Hover on donut chart for issues
4. monitor no. of open and closed issues.
5. go to original repository in

[2016-05-09 07:21] bajiat commented on #290
Most of the sprint 5 UI texts have been translated and proofread in OneSky: 3-4 texts with tricky terms remaining.

[2016-05-09 07:22] #300 closed

[2016-05-09 08:01] #310 closed

[2016-05-09 08:27] brylie opened #333 "Update README with instructions for Github authentication token"
As a developer
I need to use my Github Personal Access Token
so that my Dipor platform can make more than 60 calls to Github per hour

[2016-05-09 09:28] bajiat commented on #310
@nazarah Is there a report for the evaluation or a list of findings?

[2016-05-09 09:29] bajiat commented on #222
@saralavanip Closing the issue since you have already moved on to sprint 5 deployment testing.

[2016-05-09 09:29] #222 closed

[2016-05-09 09:33] bajiat commented on #293
@saralavanip How is this task proceeding? Since this is the last sprint I'm wondering whether we should continue with testing the develop branch. That would mean setting up development environment for you. You can find instructions in the [Readme](https://github.com/Digipalvelutehdas/dipor-dashboard). How does that sound to you?

[2016-05-09 09:55] brylie commented on #192
@bajiat, will you confirm with @kyyberi what the default service visibility status should be? We need to set the default status to 'public' or 'private'.

[2016-05-09 09:57] brylie commented on #192
Currently, all services are 'public' by default, since we have not previously added any check(s) for the `visibility` field.

[2016-05-09 10:35] brylie commented on #192
Added a service visibility toggle to the "Single Service" page:

![screenshot from 2016-05-09 13-34-04](https://cloud.githubusercontent.com/assets/17307/15110654/ef98fb0c-15ea-11e6-99c6-abf3d67bb100.png)
![screenshot from 2016-05-09 13-34-12](https://cloud.githubusercontent.com/assets/17307/15110653/ef95a06a-15ea-11e6-9320-ee5b259730c1.png)

[2016-05-09 11:53] brylie opened #337 "Inline editing text keeps doubling"
We have had struggles with the reactive inline editing of text. Check all templates with inline editing capabilities to ensure the text is not duplicated on screen when saving.

Specifically:

- [x] Organization page
- [x] Department page
- [x] Service page

[2016-05-09 12:00] bajiat opened #338 "Add delete functionality for removing organizations, departments and services"
As a superuser I want to be able to delete organizations, departments or services so that I can remove obsolete or erroneous units.

## Definition of done
- [ ] A superuser can delete organizations, departments or services.
  - [ ]  If an organization is deleted, there will a cascading delete, where relevant departments, services and integrations (Github repos) are removed (departments belonging t

[2016-05-09 19:47] #304 closed

[2016-05-10 03:13] #333 closed

[2016-05-10 04:56] elnzv commented on #257
Since this error comes from [package](https://github.com/meteor-factory/meteor-admin-lte)
Rised issue there: https://github.com/meteor-factory/meteor-admin-lte/issues/26

[2016-05-10 07:05] #147 closed

[2016-05-10 08:01] jykae commented on #297
Waiting for public/private toggle from #192

[2016-05-10 08:26] bajiat commented on #337
@frenchbread Would you have time for one more task this sprint? This bug is probably a regression and you know the inline editing well.

[2016-05-10 08:31] bajiat commented on #337
@jykae will be taking this task, since his other task is blocked, but maybe @frenchbread could co-pilot if help is needed.

[2016-05-10 08:47] brylie commented on #337
@jykae thanks for taking this task.

[2016-05-10 09:50] frenchbread commented on #337
I'll co-pilot. 😄

[2016-05-10 10:48] jykae commented on #337
great, @frenchbread can you point line how to that doubling has been fixed earlier?

[2016-05-10 10:56] frenchbread commented on #337
@jykae I'll take a look how this has been fixed earlier. Do not really remember.

[2016-05-10 10:59] jykae commented on #337
Ok, I remembered that we had this sort of doubling earlier also, trying check and compare what is missing.. Point out if you find it first.

[2016-05-10 10:59] frenchbread commented on #337
it seems that medium-editor option did the thing then. ([Link](https://github.com/Digipalvelutehdas/dipor-dashboard/pull/61#issuecomment-191735484))

[2016-05-10 11:00] frenchbread commented on #337
Not sure it that approach going to work with select-box widget

[2016-05-10 11:51] jykae commented on #337
Yep, this is something different.. Header text editing works correct if I don't touch to select-box before editing that. Tried adding class "editable" also for service status. Did not have effect though.. Looking this through with debugger.

[2016-05-10 12:12] #292 closed

[2016-05-10 12:39] jykae commented on #337
This is some sort of timing issue with reactivity.. I tried couple of things and debugged with debugger and console.logs. Can you try this @frenchbread ? Can't find the issue.

[2016-05-10 12:40] jykae commented on #337
Only Service page where we have select-box has this issue.

[2016-05-10 13:20] jykae commented on #337
#295 is subtask of this one

[2016-05-10 21:00] jykae commented on #337
Got it fixed, though quite a DOM hack..

[2016-05-11 03:52] kyyberi opened #342 "Saving service description saves desc two times - page reload fixes issue"
# Service desc saving doubles text
When editing service description an error happens. Editing goes fine, but after clicking save, the result shown is given text twice.

# Steps to reproduce
0. Login
1. Open service page https://dashboard.digipalvelutehdas.fi/service/HA6WWnweFxT486FcW
2. Click edit
3. Edit text
4. Click save
5. Reload page fixes issue.

# Observed behavior
Copies the user given tex

[2016-05-11 06:18] bajiat commented on #239
@frenchbread Last point about deletion should work so that you check that no other service is using the same repository. If another service has the same repository, delete it only from the view. If only this service uses the repository, delete it from the collection(s) as well. To be checked: Do you need to delete the syncing as well?

[2016-05-11 06:53] brylie opened #343 "Blocking when loading charts with Github data"
When rendering a service page, with one or more Github sources, the platform becomes unresponsive until charts have rendered. This is possibly due to blocking code from the commits over time or current open/closed issue counts chart(s).

# Steps to reproduce

1. View a service page with one or more Github sources
2. Navigate to any other page of the site before the charts have rendered

# Observed

[2016-05-11 07:02] bajiat commented on #342
Closing this as duplicate of #337.

[2016-05-11 07:02] #342 closed

[2016-05-11 07:11] brylie commented on #343
There appears to be blocking code running in the client, so the issue is limited to only one user. However, we should make sure to handle asynchronous code properly.

[2016-05-11 07:13] brylie commented on #239
@frenchbread what is the status of this task?

[2016-05-11 07:26] #290 closed

[2016-05-11 07:40] bajiat opened #348 "Obfiscating SO email from anonymous users"
If an anonymous (= unregistered) user is viewing service information for a public service, the user should not be able to view the email for service owner. Suggested solution is that the ending of the email is truncated for unregistered users.

[2016-05-11 07:47] jykae commented on #343
@brylie It is my donut I think, it is run with Async.runSync

[2016-05-11 07:48] brylie commented on #343
OK, does that code run on the client or server? It seems like the blocking comes from client code.

[2016-05-11 07:49] brylie commented on #332
Good catch, and excellent bug reporting @Nazarah! :-)

[2016-05-11 10:20] #192 closed

[2016-05-11 11:08] bajiat commented on #239
@frenchbread Would you be able to start and finish this task before the end of sprint / release?

[2016-05-11 11:18] brylie opened #349 "Ensure that Github Issue sync functions only retrieve issues, not PRs"
Github issue sync is currently getting issues as well as PRs. Refactor this code, using the github search method, so that we only retrieve issues for our GithubIssues collection.

[2016-05-11 11:46] #323 closed

[2016-05-11 12:09] Nazarah commented on #310
It is a list of findings along with which heuristics were violated and what is the severity rate.
the heuristics and the severity  rates are also described in a separate tab in the same excell sheet.

[2016-05-11 12:52] frenchbread commented on #239
@bajiat yes. I will finish it by Friday.

[2016-05-11 13:04] frenchbread commented on #239
@bajiat I will add functionality that cleans up unneeded synced data. @elnzv is working on this feature actually so I could reuse it when service has been edited

[2016-05-11 13:51] #190 closed

[2016-05-11 13:52] #332 closed

[2016-05-11 14:45] brylie opened #352 "Cannot add service"
While reviewing a recent PR, @elnzv was unable to add a new service. This Issue is to track the resolution of the "Add Service" bug.

[2016-05-11 14:48] #352 closed

[2016-05-11 14:53] #286 closed

[2016-05-12 08:22] saralavanip commented on #293
@bajiat , OK, I'll continue testing with develop branch. Please find the reference issues reported:

https://github.com/Digipalvelutehdas/dipor-dashboard/issues/318
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/322
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/317

[2016-05-12 09:52] saralavanip opened #354 "'Name' of the organization duplicated while creating organization"
# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi
2. Login
3. Create organization as admin by clicking on 'Create Organization'
4. Enter the details:
    - Enter valid name
    - Enter description
5. Click on 'Create'
6. Go to Organization view

# Observed behavior
   Name of the organization gets duplicated while creating an Organization
# Expected behavior
   Name of the organ

[2016-05-12 10:21] saralavanip opened #355 "Inline editor for organization 'logo' and 'Title' looks overlapped"
# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi
2. Login
3. Create organization as admin by clicking on 'Create Organization'
4. Enter the details:
    - Enter valid name
    - Enter description
5. Click on 'Create'
6. Go to Organization view  and click on organization added above
7. Click on 'Edit'
8. Click on duplicated organization 'Title' field

# Observed behavior
  Inlin

[2016-05-12 10:49] saralavanip opened #356 "Edit and save organization 'Title' gets duplicated text"
# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi
2. Login
3. Create organization as admin by clicking on 'Create Organization'
4. Enter the details:
    - Enter name
    - Enter description
5. Click on 'Create'
6. Go to Organization view  and click on organization added above
7. Click on 'Edit'
8. Edit name of the organization
9. Click on 'Save'

# Observed behavior
   Edit an

[2016-05-12 11:05] bajiat commented on #337
@jykae @brylie Note also the bug report created by @saralavanip today: #356 Edit and save organization 'Title' gets duplicated text

[2016-05-12 11:29] saralavanip opened #357 "'Inline editor' not provided in 'Department' view"
# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

    - Enter Name

   - Enter Description

   - Click on 'Create'

6. Select and click on the department added above

# Findings
   - Inline editor not available in 'Department' view.
   - User unable to ed

[2016-05-12 11:56] saralavanip opened #358 "Edit and save 'Service status' duplicates text"
# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi
2. Login
3. Create organization as admin by clicking on 'Create Organization'
4. Go to Organization view  and click on organization added above
5. Create Department
6. Add service
7. Go to above added service view
8. Click on 'Edit'
9. Edit  service 'status'
8. Click on 'Save'

# Findings
  Edit and save 'Service status' gets dup

[2016-05-13 06:15] bajiat opened #360 "Enable localisation of service status labels"
Currently the service statuses have not been internationalized and thus are not available in the localisation tool. Ensure the statuses will have i18n tags.

[2016-05-13 07:18] bajiat commented on #239
@frenchbread Check the edited definition of done.

[2016-05-13 07:20] #196 closed

[2016-05-13 07:23] bajiat opened #361 "Remove Sync button from Service view"
Definition of done
- [ ] Remove Sync button and column to make more room for the charts.
  - [ ] Indicate the time of the last sync below the last row of table.

[2016-05-13 07:24] bajiat commented on #361
@elnzv Since we are running out of time, we decided to move the task #210 back to backlog. The sync button must be removed, so we created this task and assigned it to you.

[2016-05-13 07:26] bajiat commented on #338
@elnzv Will you be able to finish this task for this sprint?

[2016-05-13 07:58] bajiat opened #362 "Add missing i18n tags"
Based on a review of current development, the following UI texts are hardcoded. Add i18n tags for these UI texts so that they can be translated. (Otherwise we will have a mixed language UI e.g. for Finnish.)

Here is the list of the UI texts to be checked per location (e.g. view)

- Add source modal
  - Type
  - (Select one)
  - User
  - Repo

- Service view
  - Labels

- Add service modal
  - Nam

[2016-05-13 08:06] saralavanip opened #363 "Service view partly translated"
Steps:

1. Visit  https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and select the service added above

9. Add Source

 # Observed behavior
  Service view in Suomi language is partly translated and has English languag

[2016-05-13 08:42] elnzv commented on #338
Yes, I am more than half way there. Doing my best to have it done today.

On Fri, 13 May 2016, 10:26 Taija Björklund, <notifications@github.com>
wrote:

--

Illya Nizyev ~ www.nzv.nz

[2016-05-13 08:55] saralavanip opened #364 "Incomplete translation in different views"
Steps:

1. Visit  https://dashboard.digipalvelutehdas.fi

2. Select language as 'Suomi'

3. Register

4. Create Organization

5. Go to Organization view and select the organization added above

6. Create Department

7. Go to department view

8. Add 'Service'

9. Go to department view and select the service added above

10. Add Source

 # Observed behavior
  Incomplete translation of different view

[2016-05-13 10:03] saralavanip commented on #293
Please find the reference issues reported:
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/354
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/355
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/356
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/357
https://github.com/Digipalvelutehdas/dipor-dashboard/issues/358
https://github.com/Digipalvelutehdas/

[2016-05-13 10:39] #285 closed

[2016-05-13 11:13] bajiat opened #365 "Hide blocks containing emails from unregistered users"
For anonymous users
- Hide the block of service owners
- Hide the block of organization members
- Hide the block of department members

[2016-05-13 12:08] frenchbread commented on #239
Got "sync" functionality working.. Thanks @brylie.

[2016-05-13 12:09] frenchbread commented on #239
Looks like:
![screen shot 2016-05-13 at 15 08 59](https://cloud.githubusercontent.com/assets/2122679/15247405/aeb59e4e-191c-11e6-9517-2d94755d6a20.png)

[2016-05-13 13:37] #295 closed

[2016-05-13 13:37] #337 closed

[2016-05-13 13:37] #365 closed

[2016-05-16 07:41] brylie commented on #297
Double checked permissions from definition of done. They match the requirements, as of Sprint 6.

[2016-05-16 07:41] #297 closed

[2016-05-16 07:43] #338 closed

[2016-05-16 07:55] frenchbread opened #367 "Layout breaks when editing organization"
# Layout issue
After replacing medium editor with x-editable and when editing organization, description field is misplaced.

![screen shot 2016-05-16 at 10 46 23](https://cloud.githubusercontent.com/assets/2122679/15283507/cb9d4f28-1b53-11e6-812e-9b6e39147f38.png)

# Steps to reproduce

1. Create organiaztion
2. Navigate to single organization page
3. Click edit button.
4. Click on description fie

[2016-05-16 07:57] jykae opened #368 "Enhance visual appearance & usability of Edit/Remove buttons on Service view"
Edit/Remove buttons are hard to notice on the same column as Github info.
Suggestion: Put them on the right side where Sync button also is, and use button style.

<img width="1199" alt="nayttokuva 2016-05-16 kello 10 58 15" src="https://cloud.githubusercontent.com/assets/293452/15283687/22207888-1b55-11e6-8b0b-7eca2484c723.png">

[2016-05-16 08:02] #239 closed

[2016-05-16 08:34] jykae commented on #367
@frenchbread Can reproduce only in organization page.

[2016-05-16 08:45] saralavanip opened #369 "'Delete/Remove' Github data source in service view fails"
# 'Delete/Remove' Github data source in service view fails
    User unable to remove/delete github source in service view

# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and select th

[2016-05-16 08:56] jykae commented on #367
In Organization page description is in the same Bootstrap "row". Fixing..

Can you verify @frenchbread that this is surely happening on department / service views as well?

[2016-05-16 09:03] saralavanip opened #370 "Notify user after successful deletion of 'Service'"
# Notify user after successful deletion of 'Service'

# Steps to reproduce

1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and select the service added above

9. Click on 'Edit'

10. Click on 'Delete' butt

[2016-05-16 09:05] frenchbread commented on #367
@jykae Update the issue description. Actually the fields are not misplaced on departemnt and service pages but have default width and height.

[2016-05-16 09:34] frenchbread commented on #369
Getting same error locally
[code]

[2016-05-16 09:44] frenchbread commented on #369
Created hotfix #372.

[2016-05-16 09:49] #194 closed

[2016-05-16 10:08] #369 closed

[2016-05-16 10:29] jykae commented on #367
@frenchbread what you mean by "default" width/height? Editable field sizes when on edit mode?

[2016-05-16 10:51] #361 closed

[2016-05-16 10:55] #367 closed

[2016-05-16 11:12] brylie commented on #316
How do we verify that statement?

The [MongoDB 3.2 documentation](https://docs.mongodb.com/v3.2/reference/method/db.collection.ensureIndex/) only says the following:

[2016-05-16 11:22] brylie opened #374 "Update meteor and remove unused packages"
Make sure our package versions are up-to-date after Sprint 6. Remove any unused packages.

[2016-05-16 11:51] #374 closed

[2016-05-16 12:38] elnzv opened #378 "Integrations table width problem in IE10"
Integrations table width is bigger than should be in Internet Explorer 10.
Part of the table is not showing properly.
Attaching screenshot.

![ie_bug](https://cloud.githubusercontent.com/assets/7489044/15289624/2701c772-1b7c-11e6-963a-7899b88ef3a8.png)

[2016-05-16 12:44] #368 closed

[2016-05-16 12:53] jykae commented on #316
@brylie From collection2 tests:
https://github.com/aldeed/meteor-collection2/blob/53aa3a48ab0a1548be780ffafbccb30e07e9493f/tests/collections.js

We should most likely to use try catch, try to drop existing index, and then create index with "_ensureIndex".

[2016-05-16 12:56] #378 closed

[2016-05-16 13:22] #316 closed

[2016-05-16 14:01] jykae opened #385 "Organization logo placeholder missing on Chrome"
View dashboard.digipalvelutehdas.fi

Organization logo placeholder does not look visually prominent.

[2016-05-17 05:01] jykae opened #386 "Too new MongoDB version causing exceptions on Github sync"
[code]

[2016-05-18 08:48] saralavanip opened #387 "Edit github source and save in 'Service' view doesn't update the data"
# Edit github source and save  in 'Service' view doesn't update the data

# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and select the service added above

9. Add Source

- Select the

[2016-05-18 09:04] saralavanip commented on #356
Verified the resolved issue in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 09:07] saralavanip commented on #358
Verified the resolved issue in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 09:09] saralavanip commented on #363
Verified in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 09:14] saralavanip commented on #250
Verified in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 09:24] saralavanip commented on #369
Verified the resolved issue in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 09:30] saralavanip commented on #361
Verified in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-18 10:18] saralavanip opened #388 "'Share' button invisible in Internet explorer"
# 'Share' button invisible in Internet explorer
  'Share' button is invisible in 'Service' view in IE browser

# Steps to reproduce
1. Open internet explorer and visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view

[2016-05-18 10:38] saralavanip opened #389 "Time of last sync displayed by default before adding a Github source"
# Time of last sync displayed by default before adding a Github source

# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and select the service added above

# Observed behavior
Time of l

[2016-05-18 12:22] saralavanip opened #390 "Email handler not responsive while sharing channel"
# Email handler not responsive while sharing channel
Click on share button in service view and select 'Email' icon not responding

# Steps to reproduce
1. Visit https://dashboard.digipalvelutehdas.fi

2. Login

3. Create Organization

4. Go to Organization view and select the organization added above

5. Create Department

6. Go to department view

7. Add 'Service'

8. Go to department view and se

[2016-05-19 07:16] #356 closed

[2016-05-19 10:30] saralavanip commented on #322
Verified resolved issue in latest deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-19 10:43] saralavanip commented on #378
Verified  on version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-19 10:46] saralavanip commented on #367
Verified the resolved issue on version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-19 10:51] saralavanip commented on #365
Verified on deployed version 0.6.0 https://dashboard.digipalvelutehdas.fi

[2016-05-20 11:11] #293 closed

[2016-05-26 11:30] Nazarah opened #393 "When creating new organization, department, service and service source for the first time - clicking on department link in location doesn't populate the department view. Same happens if navigated to organization catelogue"
# Short bug title
Visibility of no data in department and home view

# Steps to reproduce

1. Create an organization
2. Create a department
3. create a service
4. Add a service source.
5. click on the department link on the navigation location pane.

# Observed behavior
result: department view does not appear.
On clicking Home, organization catelogue doesn't appear either.
It needs a reload of pag

[2016-05-26 11:44] Nazarah opened #394 "On adding a new service source for the 1st time, Chart for commited activity does not appear immediately. Page needs to be reloaded for the chart to appear"
# Short bug title
Commit Activity Chart doesn't appear immediately

# Steps to reproduce

1. Add a new github source to a service and save

# Observed behavior
Commit Activity chart doesn't load immediately with other information.
page needs to be refreshed for the chart to appear

# Expected behavior
Commit Activity Chart should appear immediately along with other information

# Environment

- Ch

[2016-05-26 11:56] Nazarah opened #395 "For chart information that needs internal server's synchronization, data doesn't get populated even though server is synched in recent time"
# Short bug title
Issues over time and Issue labels charts don't appear for synchronization inconsistencies

# Steps to reproduce
1. Add the following github source for a service:
user: NREL
repo: api-umbrella
2. Save

# Observed behavior
Issues over time and Issue labels chart don't appear due to the synchronization inconsistencies in internal server.
The server shows to be synched in recent time

[2016-06-07 10:21] bajiat opened #397 "Create a volume for MongoDB"
Feedback from CPouta administration:
The Dipor virtual machine disc seems to be too slow for MongoDB.

One potential solution is creating a volume that would be linked to the virtual machine and move all MongoDB data to that volume.

[2016-07-21 09:15] #260 closed

[2016-07-31 21:42] #30 closed